Alert_flow.json
[{"id":"d886cef0.2bc31","type":"tab","label":"Alerts","disabled":false,"info":""},{"id":"d0540f47.76d16","type":"switch","z":"d886cef0.2bc31","name":"Submit or Clear?","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":420,"wires":[["91a9ef35.dc2eb"],["bc5c9b78.1c1478"]]},{"id":"bc5c9b78.1c1478","type":"function","z":"d886cef0.2bc31","name":"CLEAR form","func":"msg.topic = null\n\nmsg.payload.submitter = null\nmsg.payload.message = null\nmsg.payload.group.long_rot = null\nmsg.payload.group.than1 = null\nmsg.payload.group.btwn1 = null\nmsg.payload.group.tran_rot = null\nmsg.payload.group.than2 = null\nmsg.payload.group.btwn2 = null\nmsg.payload.group.wind = null\nmsg.payload.group.than3 = null\nmsg.payload.group.btwn3 = null\nmsg.payload.group.temp_air = null\nmsg.payload.group.than4 = null\nmsg.payload.group.btwn4 = null\nmsg.payload.group.relh_air = null\nmsg.payload.group.than5 = null\nmsg.payload.group.btwn5 = null\nmsg.payload.group.rain = null\nmsg.payload.group.than6 = null\nmsg.payload.group.btwn6 = null\nmsg.payload.onall = true\nmsg.payload.sensor_id = null\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":420,"wires":[["a4130b60.9cc898"]]},{"id":"b7439db6.df3bb","type":"comment","z":"d886cef0.2bc31","name":"New Alerts' form","info":"","x":500,"y":220,"wires":[]},{"id":"91a9ef35.dc2eb","type":"function","z":"d886cef0.2bc31","name":"FORMAT form","func":"msg.payload.conditions = \"\"\n\none_num = true\ntwo_num = false\n\nfor(var i in msg.payload.group){\n    val = msg.payload.group[i]\n\n    if(val || val == 0){\n\n        if(isNaN(val)){\n            one_num = true\n            msg.payload.conditions = msg.payload.conditions.concat(i)\n        }\n\n        if(val == \"inbetween\"){\n            msg.payload.conditions = msg.payload.conditions.concat(\"<>\")\n            two_num = true\n        }else{\n            msg.payload.conditions = msg.payload.conditions.concat(val)\n        }\n        \n        if(!isNaN(val) && one_num){\n            if(two_num){\n                msg.payload.conditions = msg.payload.conditions.concat(\"&\")\n                one_num = true\n                two_num = false\n            }else{\n                msg.payload.conditions = msg.payload.conditions.concat(\",\")\n                one_num = false\n            }\n        }\n        \n    }\n}\nmsg.payload.conditions = msg.payload.conditions.slice(0,-1)\n\nA = global.get(\"alert_num\") + 1\nglobal.set(\"alert_num\",A)\nmsg.payload.alert_id = A\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":280,"wires":[["bc5c9b78.1c1478","90e78399.de9b3","493352a2.afdc5c"]]},{"id":"95547b67.e6e0e8","type":"function","z":"d886cef0.2bc31","name":"INIT form","func":"msg = { \n    payload : {\n    \n        submitter : null, \n        message : null,\n        group : {\n            long_rot : null,\n            than1 : null,\n            btwn1 : null,\n            tran_rot : null,\n            than2 : null,\n            btwn2 : null,\n            wind : null,\n            than3 : null,\n            btwn3 : null,\n            temp_air : null,\n            than4 : null,\n            btwn4 : null,\n            relh_air : null,\n            than5 : null,\n            btwn5 : null,\n            rain : null,\n            than6 : null,\n            btwn6 : null\n        },\n        onall : true,\n        sensor_id : null,\n        sensor_num : global.get(\"sensor_num\")\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["a4130b60.9cc898"]]},{"id":"90e78399.de9b3","type":"change","z":"d886cef0.2bc31","name":"Alert Created!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alert Created!","tot":"str"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":240,"wires":[["df69aa13.df8d18"]]},{"id":"493352a2.afdc5c","type":"function","z":"d886cef0.2bc31","name":"INSERT alarm INTO DB","func":"command = \"INSERT INTO alerts( alert_id, sensor_id, message, conditions, submitter) VALUES (\"\n\ncommand += msg.payload.alert_id + \", \" \n        +  msg.payload.sensor_id + \", \" \n        +  \"\\\"\" + msg.payload.message + \"\\\", \"\n        +  \"\\\"\" + msg.payload.conditions + \"\\\", \"\n        +  \"\\\"\" + msg.payload.submitter + \"\\\")\"\n\n\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":280,"wires":[["7481789d.a22988"]]},{"id":"9ae8acba.a7737","type":"change","z":"d886cef0.2bc31","name":"INIT sensor_num","rules":[{"t":"set","p":"sensor_num","pt":"global","to":"payload.0.sensor_num","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":100,"wires":[[]]},{"id":"aacb795d.0d19c8","type":"change","z":"d886cef0.2bc31","name":"INIT alert_num","rules":[{"t":"set","p":"alert_num","pt":"global","to":"payload.0.alert_num","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":140,"wires":[[]]},{"id":"40eda9ad.4797f8","type":"ui_ui_control","z":"d886cef0.2bc31","name":"INIT on tab change","events":"change","x":130,"y":580,"wires":[["95547b67.e6e0e8","9d3dcbc7.e56398","9c13cf7f.a5eb3"]]},{"id":"9d3dcbc7.e56398","type":"function","z":"d886cef0.2bc31","name":"SELECT alerts FROM DB","func":"\ncommand = \"SELECT * FROM alerts\"\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":720,"wires":[["dd0784e0.52e8f8"]]},{"id":"2ff57b27.cb72f4","type":"comment","z":"d886cef0.2bc31","name":"Alerts List","info":"","x":500,"y":680,"wires":[]},{"id":"7481789d.a22988","type":"mqtt out","z":"d886cef0.2bc31","name":"","topic":"TDB/Database/INSERT-UPDATE-noreturn","qos":"","retain":"","broker":"65126e38.f3208","x":1330,"y":280,"wires":[]},{"id":"dd0784e0.52e8f8","type":"mqtt out","z":"d886cef0.2bc31","name":"","topic":"TDB/Database/SELECT/alerts","qos":"","retain":"","broker":"65126e38.f3208","x":690,"y":720,"wires":[]},{"id":"a9eebc1a.6b221","type":"mqtt in","z":"d886cef0.2bc31","name":"","topic":"TDB/Database/INIT/sensors-return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":1000,"y":100,"wires":[["9ae8acba.a7737"]]},{"id":"6bab6d3d.529044","type":"mqtt in","z":"d886cef0.2bc31","name":"","topic":"TDB/Database/INIT/alerts-return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":990,"y":140,"wires":[["aacb795d.0d19c8"]]},{"id":"df69aa13.df8d18","type":"ui_toast","z":"d886cef0.2bc31","position":"bottom left","displayTime":"1.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":1230,"y":240,"wires":[]},{"id":"a4130b60.9cc898","type":"ui_template","z":"d886cef0.2bc31","group":"ef782161.343cf","name":"Alert Form","order":1,"width":9,"height":7,"format":"<div>\n    <table>\n  \n    <tr><td>Submitter</td></tr>\n    <tr><td colspan=\"4\"> <input type = \"text\" value=\"{{msg.payload.submitter}}\" ng-model= \"msg.payload.submitter\" size=\"49%\"></td></tr>\n    \n    <tr><td>Message</td></tr>\n    <tr><td colspan=\"4\"> <input type = \"text\" value=\"{{msg.payload.message}}\" ng-model= \"msg.payload.message\" size=\"49%\"></td></tr>\n\n    <tr><td> Longitudinal Rotation</td> \n    <td align=\"center\"><select name=\"long_rot\" value=\"{{msg.payload.group.long_rot}}\" ng-model = \"msg.payload.group.long_rot\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    </td>\n    <td> <input type = \"number\" value=\"{{msg.payload.group.than1}}\" ng-model= \"msg.payload.group.than1\"  min = -90 max = 90 ng-disabled = \"!msg.payload.group.long_rot\">\n    </td> \n    <td> <input type = \"number\" value=\"{{msg.payload.group.btwn1}}\" ng-model= \"msg.payload.group.btwn1\"  min = -90 max = 90 ng-disabled = \"msg.payload.group.long_rot != 'inbetween'\">\n    </td> \n    </tr>\n    \n    <tr><td>Transversal Rotation</td> \n    <td align=\"center\"><select name=\"tran_rot\" value=\"{{msg.payload.group.tran_rot}}\" ng-model=\"msg.payload.group.tran_rot\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    </td> \n    <td> <input type = \"number\" value=\"{{msg.payload.group.than2}}\" ng-model= \"msg.payload.group.than2\"  min = -90 max = 90 ng-disabled = \"!msg.payload.group.tran_rot\">\n    </td> \n    <td> <input type = \"number\" value=\"{{msg.payload.group.btwn2}}\" ng-model= \"msg.payload.group.btwn2\"  min = -90 max = 90 ng-disabled = \"msg.payload.group.tran_rot != 'inbetween'\">\n    </td> \n    </tr>\n    \n    <tr><td>Wind Speed</td> \n    <td align=\"center\"><select name=\"wind\" value=\"{{msg.payload.group.wind}}\" ng-model=\"msg.payload.group.wind\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.than3}}\" ng-model= \"msg.payload.group.than3\"  min = 0 max = 120 ng-disabled = \"!msg.payload.group.wind\">\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.btwn3}}\" ng-model= \"msg.payload.group.btwn3\"  min = 0 max = 120 ng-disabled = \"msg.payload.group.wind != 'inbetween'\">\n    </td> \n    </tr>\n    \n    <tr><td>Temperature</td> \n    <td align=\"center\"><select name=\"temp_air\" value=\"{{msg.payload.group.temp_air}}\" ng-model=\"msg.payload.group.temp_air\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.than4}}\" ng-model= \"msg.payload.group.than4\"  min = -30 max = 70 ng-disabled = \"!msg.payload.group.temp_air\">\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.btwn4}}\" ng-model= \"msg.payload.group.btwn4\"  min = -30 max = 70 ng-disabled = \"msg.payload.group.temp_air != 'inbetween'\">\n    </td> \n    </tr>\n    \n    <tr><td>Relative Humidity</td> \n    <td align=\"center\"><select name=\"relh_air\" value=\"{{msg.payload.group.relh_air}}\" ng-model=\"msg.payload.group.relh_air\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.than5}}\" ng-model= \"msg.payload.group.than5\"  min = 0 max = 100 ng-disabled = \"!msg.payload.group.relh_air\">\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.btwn5}}\" ng-model= \"msg.payload.group.btwn5\"  min = 0 max = 100 ng-disabled = \"msg.payload.group.relh_air != 'inbetween'\">\n    </td> \n    </tr>\n    \n    <tr><td>Rain Amount</td> \n    <td align=\"center\"><select name=\"rain\" value=\"{{msg.payload.group.rain}}\" ng-model=\"msg.payload.group.rain\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.than6}}\" ng-model= \"msg.payload.group.than6\"  min = 0 max = 100 ng-disabled = \"!msg.payload.group.rain\">\n    </td> \n    <td><input type = \"number\" value=\"{{msg.payload.group.btwn6}}\" ng-model= \"msg.payload.group.btwn6\"  min = 0 max = 100 ng-disabled = \"msg.payload.group.rain != 'inbetween'\">\n    </td> \n    </tr>\n\n    <tr><td>On All Sensors</td> \n    <td align=\"center\"><input type= \"checkbox\" value=\"{{msg.payload.onall}}\" ng-model= \"msg.payload.onall\">\n    </td>\n    <td><input type = \"number\" value=\"{{msg.payload.sensor_id}}\" ng-model=\"msg.payload.sensor_id\" style=\"width: 86%\" min = 1 max = \"{{msg.payload.sensor_num}}\" ng-disabled = \"msg.payload.onall\">\n    </td>\n    </tr>\n\n\n    <tr>\n    <td> </td>\n    <td><input type= \"button\" value= \"Submit\" style=\"width: 100%\" ng-click=\"msg.topic=true; send (msg)\" \n        ng-disabled = \"(!msg.payload.onall && !msg.payload.sensor_id)  || \n                        !msg.payload.submitter || !msg.payload.message ||\n                        ((!msg.payload.group.than1 && msg.payload.group.than1 != 0) &&\n                        (!msg.payload.group.than2 && msg.payload.group.than2 != 0)  && \n                        (!msg.payload.group.than3 && msg.payload.group.than3 != 0)  && \n                        (!msg.payload.group.than4 && msg.payload.group.than4 != 0)  && \n                        (!msg.payload.group.than5 && msg.payload.group.than5 != 0)  && \n                        (!msg.payload.group.than6 && msg.payload.group.than6 != 0)) ||\n                        (msg.payload.group.long_rot && (!msg.payload.group.than1 && msg.payload.group.than1 != 0))  ||\n                        (msg.payload.group.tran_rot && (!msg.payload.group.than2 && msg.payload.group.than2 != 0))  ||\n                        (msg.payload.group.wind     && (!msg.payload.group.than3 && msg.payload.group.than3 != 0))  ||\n                        (msg.payload.group.temp_air && (!msg.payload.group.than4 && msg.payload.group.than4 != 0))  ||\n                        (msg.payload.group.relh_air && (!msg.payload.group.than5 && msg.payload.group.than5 != 0))  ||\n                        (msg.payload.group.rain     && (!msg.payload.group.than6 && msg.payload.group.than6 != 0))  ||\n                        (msg.payload.group.long_rot == 'inbetween' && (!msg.payload.group.btwn1 && msg.payload.group.btwn1 != 0)) ||\n                        (msg.payload.group.tran_rot == 'inbetween' && (!msg.payload.group.btwn2 && msg.payload.group.btwn2 != 0)) ||\n                        (msg.payload.group.wind == 'inbetween'     && (!msg.payload.group.btwn3 && msg.payload.group.btwn3 != 0)) ||\n                        (msg.payload.group.temp_air == 'inbetween' && (!msg.payload.group.btwn4 && msg.payload.group.btwn4 != 0)) ||\n                        (msg.payload.group.relh_air == 'inbetween' && (!msg.payload.group.btwn5 && msg.payload.group.btwn5 != 0)) ||\n                        (msg.payload.group.rain == 'inbetween'     && (!msg.payload.group.btwn6 && msg.payload.group.btwn6 != 0))\">\n    </td>\n    <td>\n    <input type= \"button\" value= \"Clear\" style=\"width: 96%\" ng-click=\"msg.topic=false; send (msg)\">\n    </td>\n    <td> </td>\n    </tr>\n    \n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":490,"y":280,"wires":[["d0540f47.76d16"]]},{"id":"733d2784.d6a9d8","type":"comment","z":"d886cef0.2bc31","name":"Alert form info","info":"","x":490,"y":540,"wires":[]},{"id":"9c13cf7f.a5eb3","type":"ui_template","z":"d886cef0.2bc31","group":"dc4ec6dc.79a638","name":"Alert Form Info text","order":1,"width":6,"height":7,"format":"<table>\n\n<tr><td style=\"width:40%\"></td>\n<td style=\"text-align: center\">\n<ng-md-icon icon=\"info\" style=\"fill: #008080\" size=\"24\"></ng-md-icon>\n</td>\n<td style=\"width:40%\"></td></tr>\n\n<tr><td colspan=\"3\">\nUsing this tab it is possible to create new alerts for the system.\n</td></tr>\n\n<tr><td colspan=\"3\">\nSubmitter and Message are <b>mandatory</b> fields.\n</td></tr>\n\n<tr><td colspan=\"3\">\nAt least one condition <b>must</b> be present.\n</td></tr>\n\n<tr><td colspan=\"3\">\nThe number slots, that will enable when an operation is selected, \nare <b>mandatory</b>.\n</td></tr>\n\n<tr><td colspan=\"3\">\nThe \"On All Sensors\" check sets the alarm for all sensors, when \nunchecked a sensor_ID is <b>mandatory</b>.\n</td></tr>\n\n<tr><td colspan=\"3\">\nThe submit button will enable only when the current alert form \nis valid.\n</td></tr>\n\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":490,"y":580,"wires":[[]]},{"id":"5f49febc.992e9","type":"ui_table","z":"d886cef0.2bc31","group":"9ad4bf52.194bc","name":"Alerts List","order":1,"width":"20","height":"10","columns":[{"field":"alert_id","title":"Alert ID","width":"9%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sensor_id","title":"Sensor ID","width":"9%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"submitter","title":"Submitter","width":"20%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"message","title":"Message","width":"20%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"conditions","title":"Conditions","width":"42%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1220,"y":720,"wires":[]},{"id":"e275cc6.01b933","type":"mqtt in","z":"d886cef0.2bc31","name":"","topic":"TDB/Database/SELECT/alerts-return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":1000,"y":720,"wires":[["5f49febc.992e9"]]},{"id":"3010b3bb.0e7f6c","type":"comment","z":"d886cef0.2bc31","name":"Initialization of global variables","info":"","x":490,"y":40,"wires":[]},{"id":"44ccec6.5ebdd14","type":"inject","z":"d886cef0.2bc31","name":"Init global variables","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":150,"y":120,"wires":[["5fbab5f5.d7978c","409afc4b.d28c64"]]},{"id":"5fbab5f5.d7978c","type":"function","z":"d886cef0.2bc31","name":"SELECT sensors FROM DB","func":"\ncommand = \"SELECT DISTINCT COUNT(sensor_id) AS sensor_num FROM sensors\"\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["a00c6cba.c5849"]]},{"id":"409afc4b.d28c64","type":"function","z":"d886cef0.2bc31","name":"SELECT alerts FROM DB","func":"\ncommand = \"SELECT DISTINCT COUNT(alert_id) AS alert_num FROM alerts\"\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":140,"wires":[["50171ed.f34cee"]]},{"id":"50171ed.f34cee","type":"mqtt out","z":"d886cef0.2bc31","name":"","topic":"TDB/Database/INIT/alerts","qos":"","retain":"","broker":"65126e38.f3208","x":710,"y":140,"wires":[]},{"id":"a00c6cba.c5849","type":"mqtt out","z":"d886cef0.2bc31","name":"","topic":"TDB/Database/INIT/sensors","qos":"","retain":"","broker":"65126e38.f3208","x":700,"y":100,"wires":[]},{"id":"65126e38.f3208","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef782161.343cf","type":"ui_group","name":"New Alert Form","tab":"b72fb443.76a8b8","order":1,"disp":true,"width":9,"collapse":false},{"id":"dc4ec6dc.79a638","type":"ui_group","name":"Alert Form Info","tab":"b72fb443.76a8b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ad4bf52.194bc","type":"ui_group","name":"Alerts List","tab":"47008331.0a3ccc","order":1,"disp":true,"width":"20","collapse":false},{"id":"b72fb443.76a8b8","type":"ui_tab","name":"Add New Alert","icon":"assignment_late","order":4,"disabled":false,"hidden":false},{"id":"47008331.0a3ccc","type":"ui_tab","name":"Alerts","icon":"view_headline","order":5,"disabled":false,"hidden":false}]