Alert_flow.json
[{"id":"d886cef0.2bc31","type":"tab","label":"Alert forms","disabled":false,"info":""},{"id":"a4130b60.9cc898","type":"ui_template","z":"d886cef0.2bc31","group":"ef782161.343cf","name":"Alert Form","order":1,"width":10,"height":8,"format":"<div>\n    <p>Submitter</p>\n    <p> <input type = \"text\" value=\"{{msg.payload.submitter}}\" ng-model= \"msg.payload.submitter\"></p>\n    \n    <p>Message</p>\n    <p> <input type = \"text\" value=\"{{msg.payload.message}}\" ng-model= \"msg.payload.message\"></p>\n    \n    <p>Longitudinal Rotation\n    <select name=\"long_rot\" value=\"{{msg.payload.group.long_rot}}\" ng-model = \"msg.payload.group.long_rot\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    <input type = \"number\" value=\"{{msg.payload.group.than1}}\" ng-model= \"msg.payload.group.than1\"  min = -90 max = 90 ng-disabled = \"!msg.payload.group.long_rot\">\n    <input type = \"number\" value=\"{{msg.payload.group.btwn1}}\" ng-model= \"msg.payload.group.btwn1\"  min = -90 max = 90 ng-disabled = \"msg.payload.group.long_rot != 'inbetween'\">\n    </p>\n    \n    <p>Transversal Rotation\n    <select name=\"tran_rot\" value=\"{{msg.payload.group.tran_rot}}\" ng-model=\"msg.payload.group.tran_rot\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    <input type = \"number\" value=\"{{msg.payload.group.than2}}\" ng-model= \"msg.payload.group.than2\"  min = -90 max = 90 ng-disabled = \"!msg.payload.group.tran_rot\">\n    <input type = \"number\" value=\"{{msg.payload.group.btwn2}}\" ng-model= \"msg.payload.group.btwn2\"  min = -90 max = 90 ng-disabled = \"msg.payload.group.tran_rot != 'inbetween'\">\n    </p>\n    \n    <p>Wind Speed\n    <select name=\"wind\" value=\"{{msg.payload.group.wind}}\" ng-model=\"msg.payload.group.wind\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    <input type = \"number\" value=\"{{msg.payload.group.than3}}\" ng-model= \"msg.payload.group.than3\"  min = 0 max = 120 ng-disabled = \"!msg.payload.group.wind\">\n    <input type = \"number\" value=\"{{msg.payload.group.btwn3}}\" ng-model= \"msg.payload.group.btwn3\"  min = 0 max = 120 ng-disabled = \"msg.payload.group.wind != 'inbetween'\">\n    </p>\n    \n    <p>Temperature\n    <select name=\"temp_air\" value=\"{{msg.payload.group.temp_air}}\" ng-model=\"msg.payload.group.temp_air\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    <input type = \"number\" value=\"{{msg.payload.group.than4}}\" ng-model= \"msg.payload.group.than4\"  min = -30 max = 70 ng-disabled = \"!msg.payload.group.temp_air\">\n    <input type = \"number\" value=\"{{msg.payload.group.btwn4}}\" ng-model= \"msg.payload.group.btwn4\"  min = -30 max = 70 ng-disabled = \"msg.payload.group.temp_air != 'inbetween'\">\n    </p>\n    \n    <p>Relative Humidity\n    <select name=\"relh_air\" value=\"{{msg.payload.group.relh_air}}\" ng-model=\"msg.payload.group.relh_air\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    <input type = \"number\" value=\"{{msg.payload.group.than5}}\" ng-model= \"msg.payload.group.than5\"  min = 0 max = 100 ng-disabled = \"!msg.payload.group.relh_air\">\n    <input type = \"number\" value=\"{{msg.payload.group.btwn5}}\" ng-model= \"msg.payload.group.btwn5\"  min = 0 max = 100 ng-disabled = \"msg.payload.group.relh_air != 'inbetween'\">\n    </p>\n    \n    <p>Rain Amount\n    <select name=\"rain\" value=\"{{msg.payload.group.rain}}\" ng-model=\"msg.payload.group.rain\" ng-change = \"msg.topic = null; send (msg)\">\n        <option value=\">=\">>=</option>\n        <option value=\">\">></option>\n        <option value=\"==\">==</option>\n        <option value=\"<\">&lt;</option>\n        <option value=\"<=\">&lt;=</option>\n        <option value=\"inbetween\">inbetween</option>\n    </select>\n    <input type = \"number\" value=\"{{msg.payload.group.than6}}\" ng-model= \"msg.payload.group.than6\"  min = 0 max = 100 ng-disabled = \"!msg.payload.group.rain\">\n    <input type = \"number\" value=\"{{msg.payload.group.btwn6}}\" ng-model= \"msg.payload.group.btwn6\"  min = 0 max = 100 ng-disabled = \"msg.payload.group.rain != 'inbetween'\">\n    </p>\n\n    <p>On All Sensors <input type= \"checkbox\" value=\"{{msg.payload.onall}}\" ng-model= \"msg.payload.onall\">\n    <input type = \"number\" value=\"{{msg.payload.sensor_id}}\" ng-model=\"msg.payload.sensor_id\" min = 1 max = \"{{msg.payload.sens_num}}\" ng-disabled = \"msg.payload.onall\">\n    </p>\n\n\n\n    <p><input type= \"button\" value= \"Submit\" ng-click=\"msg.topic=true; send (msg)\" \n        ng-disabled = \"(!msg.payload.onall && !msg.payload.sensor_id)  || \n                        !msg.payload.submitter || !msg.payload.message ||\n                        ((!msg.payload.group.than1 && msg.payload.group.than1 != 0) &&\n                        (!msg.payload.group.than2 && msg.payload.group.than2 != 0)  && \n                        (!msg.payload.group.than3 && msg.payload.group.than3 != 0)  && \n                        (!msg.payload.group.than4 && msg.payload.group.than4 != 0)  && \n                        (!msg.payload.group.than5 && msg.payload.group.than5 != 0)  && \n                        (!msg.payload.group.than6 && msg.payload.group.than6 != 0)) ||\n                        (msg.payload.group.long_rot && (!msg.payload.group.than1 && msg.payload.group.than1 != 0))  ||\n                        (msg.payload.group.tran_rot && (!msg.payload.group.than2 && msg.payload.group.than2 != 0))  ||\n                        (msg.payload.group.wind     && (!msg.payload.group.than3 && msg.payload.group.than3 != 0))  ||\n                        (msg.payload.group.temp_air && (!msg.payload.group.than4 && msg.payload.group.than4 != 0))  ||\n                        (msg.payload.group.relh_air && (!msg.payload.group.than5 && msg.payload.group.than5 != 0))  ||\n                        (msg.payload.group.rain     && (!msg.payload.group.than6 && msg.payload.group.than6 != 0))  ||\n                        (msg.payload.group.long_rot == 'inbetween' && (!msg.payload.group.btwn1 && msg.payload.group.btwn1 != 0)) ||\n                        (msg.payload.group.tran_rot == 'inbetween' && (!msg.payload.group.btwn2 && msg.payload.group.btwn2 != 0)) ||\n                        (msg.payload.group.wind == 'inbetween'     && (!msg.payload.group.btwn3 && msg.payload.group.btwn3 != 0)) ||\n                        (msg.payload.group.temp_air == 'inbetween' && (!msg.payload.group.btwn4 && msg.payload.group.btwn4 != 0)) ||\n                        (msg.payload.group.relh_air == 'inbetween' && (!msg.payload.group.btwn5 && msg.payload.group.btwn5 != 0)) ||\n                        (msg.payload.group.rain == 'inbetween'     && (!msg.payload.group.btwn6 && msg.payload.group.btwn6 != 0))\">\n    <input type= \"button\" value= \"Clear\" ng-click=\"msg.topic=false; send (msg)\">\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":530,"y":240,"wires":[["d0540f47.76d16"]]},{"id":"d0540f47.76d16","type":"switch","z":"d886cef0.2bc31","name":"Submit or Clear?","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":380,"wires":[["91a9ef35.dc2eb"],["bc5c9b78.1c1478"]]},{"id":"bc5c9b78.1c1478","type":"function","z":"d886cef0.2bc31","name":"CLEAR form","func":"msg.topic = null\n\nmsg.payload.submitter = null\nmsg.payload.message = null\nmsg.payload.group.long_rot = null\nmsg.payload.group.than1 = null\nmsg.payload.group.btwn1 = null\nmsg.payload.group.tran_rot = null\nmsg.payload.group.than2 = null\nmsg.payload.group.btwn2 = null\nmsg.payload.group.wind = null\nmsg.payload.group.than3 = null\nmsg.payload.group.btwn3 = null\nmsg.payload.group.temp_air = null\nmsg.payload.group.than4 = null\nmsg.payload.group.btwn4 = null\nmsg.payload.group.relh_air = null\nmsg.payload.group.than5 = null\nmsg.payload.group.btwn5 = null\nmsg.payload.group.rain = null\nmsg.payload.group.than6 = null\nmsg.payload.group.btwn6 = null\nmsg.payload.onall = true\nmsg.payload.sensor_id = null\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":380,"wires":[["a4130b60.9cc898"]]},{"id":"b7439db6.df3bb","type":"comment","z":"d886cef0.2bc31","name":"New Alerts' form","info":"","x":540,"y":160,"wires":[]},{"id":"91a9ef35.dc2eb","type":"function","z":"d886cef0.2bc31","name":"FORMAT form","func":"msg.payload.conditions = \"\"\n\none_num = true\ntwo_num = false\n\nfor(var i in msg.payload.group){\n    val = msg.payload.group[i]\n    \n    if(val){\n        \n        if(val == \"inbetween\"){\n            two_num = true\n        }\n        \n        if(isNaN(val)){\n            one_num = true\n            msg.payload.conditions = msg.payload.conditions.concat(i)\n        }\n\n        if(val == \"inbetween\"){\n            msg.payload.conditions = msg.payload.conditions.concat(\"<>\")\n        }else{\n            msg.payload.conditions = msg.payload.conditions.concat( val)\n        }\n        \n        if(!isNaN(val) && one_num){\n            if(two_num){\n                msg.payload.conditions = msg.payload.conditions.concat(\"&\")\n                one_num = true\n                two_num = false\n            }else{\n                msg.payload.conditions = msg.payload.conditions.concat(\",\")\n                one_num = false\n            }\n        }\n        \n    }\n}\n\nmsg.payload.conditions = msg.payload.conditions.slice(0,-1)\n\nif(msg.payload.sensor_id == null){\n    msg.payload.sensor_id = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":220,"wires":[["64c40ae7.9e9e44","bc5c9b78.1c1478","90e78399.de9b3"]]},{"id":"95547b67.e6e0e8","type":"function","z":"d886cef0.2bc31","name":"INIT form","func":"msg = { \n    payload : {\n    \n        submitter : null, \n        message : null,\n        group : {\n            long_rot : null,\n            than1 : null,\n            btwn1 : null,\n            tran_rot : null,\n            than2 : null,\n            btwn2 : null,\n            wind : null,\n            than3 : null,\n            btwn3 : null,\n            temp_air : null,\n            than4 : null,\n            btwn4 : null,\n            relh_air : null,\n            than5 : null,\n            btwn5 : null,\n            rain : null,\n            than6 : null,\n            btwn6 : null\n        },\n        onall : true,\n        sensor_id : null,\n        sens_num : 2\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["a4130b60.9cc898"]]},{"id":"d7e4af57.0ac49","type":"debug","z":"d886cef0.2bc31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":220,"wires":[]},{"id":"d0633827.440048","type":"ui_ui_control","z":"d886cef0.2bc31","name":"INIT on tab change","events":"change","x":190,"y":220,"wires":[["95547b67.e6e0e8"]]},{"id":"64c40ae7.9e9e44","type":"change","z":"d886cef0.2bc31","name":"","rules":[{"t":"set","p":"alert","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":220,"wires":[["d7e4af57.0ac49"]]},{"id":"df69aa13.df8d18","type":"ui_toast","z":"d886cef0.2bc31","position":"bottom left","displayTime":"1.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1170,"y":280,"wires":[]},{"id":"90e78399.de9b3","type":"change","z":"d886cef0.2bc31","name":"Alert Created!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alert Created!","tot":"str"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":280,"wires":[["df69aa13.df8d18"]]},{"id":"e536f50b.caf5d8","type":"ui_text","z":"d886cef0.2bc31","group":"dc4ec6dc.79a638","order":1,"width":6,"height":1,"name":"Alert form  1","label":"","format":"Using this tab it is possible to create a new alert for the system.","layout":"col-center","x":230,"y":460,"wires":[]},{"id":"ce41fd1f.60f1b","type":"ui_text","z":"d886cef0.2bc31","group":"dc4ec6dc.79a638","order":2,"width":6,"height":1,"name":"Alert form  2","label":"","format":"Submitter and Message are mandatory fields.","layout":"col-center","x":230,"y":500,"wires":[]},{"id":"7dfccaad.99b194","type":"ui_text","z":"d886cef0.2bc31","group":"dc4ec6dc.79a638","order":3,"width":6,"height":2,"name":"Alert form  3","label":"","format":"At least one condition must be present, the number's slots, that will enable when an operation is selected, are mandatory.","layout":"col-center","x":230,"y":540,"wires":[]},{"id":"287d2538.58195a","type":"ui_text","z":"d886cef0.2bc31","group":"dc4ec6dc.79a638","order":4,"width":6,"height":2,"name":"Alert form  4","label":"","format":"The \"On All Sensors\" check makes the alarm not specific to a sensor, it is possible to uncheck this but then a sensor_id must be given.","layout":"col-center","x":230,"y":580,"wires":[]},{"id":"9964a99a.3174e8","type":"ui_text","z":"d886cef0.2bc31","group":"dc4ec6dc.79a638","order":5,"width":6,"height":2,"name":"Alert form  5","label":"","format":"Anytime the submit button is enabled it means that the current alarm form has been filled correctly.","layout":"col-center","x":230,"y":620,"wires":[]},{"id":"733d2784.d6a9d8","type":"comment","z":"d886cef0.2bc31","name":"Alert form texts","info":"","x":240,"y":420,"wires":[]},{"id":"ef782161.343cf","type":"ui_group","name":"New Alert Form","tab":"b72fb443.76a8b8","order":1,"disp":true,"width":"10","collapse":false},{"id":"dc4ec6dc.79a638","type":"ui_group","name":"Alert form info","tab":"b72fb443.76a8b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b72fb443.76a8b8","type":"ui_tab","name":"Alerts interface","icon":"assignment_late","disabled":false,"hidden":false}]