Dashboard_flow.json
[{"id":"3990c6a1.c2f82a","type":"tab","label":"Twin digital bridge","disabled":false,"info":""},{"id":"226c8060.a156","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Readings","qos":"0","datatype":"json","broker":"65126e38.f3208","x":100,"y":860,"wires":[["39a4c66f.94c2fa","5a9ed8a3.4d2ff8"]]},{"id":"db49a591.a38508","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":11,"width":4,"height":4,"gtype":"gage","title":"Wind speed","label":"m/s","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":1650,"y":1580,"wires":[]},{"id":"d34ec111.9ab01","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":18,"width":4,"height":4,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-30","max":"70","colors":["#7ef3fb","#00b500","#ca3838"],"seg1":"10","seg2":"40","x":1650,"y":1620,"wires":[]},{"id":"11523286.49869d","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":12,"width":4,"height":4,"gtype":"gage","title":"Relative humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1670,"y":1660,"wires":[]},{"id":"e1b52047.71b09","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":19,"width":4,"height":4,"gtype":"wave","title":"Rain amount","label":"mm/day","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"6","x":1650,"y":1700,"wires":[]},{"id":"b2cd9378.df27e","type":"switch","z":"3990c6a1.c2f82a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"timestamp","vt":"str"},{"t":"eq","v":"sensor_id","vt":"str"},{"t":"eq","v":"long_rot","vt":"str"},{"t":"eq","v":"tran_rot","vt":"str"},{"t":"eq","v":"wind","vt":"str"},{"t":"eq","v":"temp_air","vt":"str"},{"t":"eq","v":"relh_air","vt":"str"},{"t":"eq","v":"rain","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":1410,"y":1540,"wires":[["c1d41468.4075f8"],["444a64c5.751b9c"],["c118d55d.20cbf8"],["223884cb.571b1c"],["db49a591.a38508"],["d34ec111.9ab01"],["11523286.49869d"],["e1b52047.71b09"]]},{"id":"fa621560.820cf8","type":"split","z":"3990c6a1.c2f82a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1290,"y":1540,"wires":[["b2cd9378.df27e"]]},{"id":"c118d55d.20cbf8","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":9,"width":4,"height":4,"gtype":"gage","title":"Longitudinal rotation","label":"°","format":"{{value}}","min":"-90","max":"90","colors":["#ca3838","#00e608","#ca3838"],"seg1":"-5","seg2":"5","x":1680,"y":1460,"wires":[]},{"id":"223884cb.571b1c","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":16,"width":4,"height":4,"gtype":"gage","title":"Transversal rotation","label":"°","format":"{{value}}","min":"-90","max":"90","colors":["#ca3838","#0ec42c","#ca3838"],"seg1":"-5","seg2":"5","x":1670,"y":1500,"wires":[]},{"id":"4a09982a.ff8b78","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Longitudinal rotation","tooltip":"","group":"ad187510.0dc298","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-90","max":"90","step":"0.5","x":1620,"y":220,"wires":[["b32290f6.e4c32"]]},{"id":"e4781aa8.d307f8","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Transversal rotation","tooltip":"","group":"ad187510.0dc298","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-90","max":"90","step":"0.5","x":1610,"y":260,"wires":[["14d9d375.5199ed"]]},{"id":"1bb60c4f.2655f4","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Wind speed","tooltip":"","group":"ad187510.0dc298","order":6,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"120","step":"0.5","x":1590,"y":300,"wires":[["ddd68458.13d008"]]},{"id":"5ad82f4a.d1b46","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Temperature","tooltip":"","group":"ad187510.0dc298","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-30","max":"70","step":"0.5","x":1590,"y":340,"wires":[["ac4ca200.c7855"]]},{"id":"f934af70.bc24f","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Relative humidity","tooltip":"","group":"ad187510.0dc298","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"0.5","x":1610,"y":380,"wires":[["e2019d27.55058"]]},{"id":"b60f522c.10f86","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Rain amount","tooltip":"","group":"ad187510.0dc298","order":9,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"0.5","x":1590,"y":420,"wires":[["1f388ea3.cbf4a1"]]},{"id":"b32290f6.e4c32","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.long_rot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":220,"wires":[[]]},{"id":"14d9d375.5199ed","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.tran_rot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":260,"wires":[[]]},{"id":"ddd68458.13d008","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.wind","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":300,"wires":[[]]},{"id":"ac4ca200.c7855","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.temp_air","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":340,"wires":[[]]},{"id":"e2019d27.55058","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.relh_air","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":380,"wires":[[]]},{"id":"1f388ea3.cbf4a1","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.rain","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":421,"wires":[[]]},{"id":"4c2fc03.e36aa4","type":"ui_toast","z":"3990c6a1.c2f82a","position":"bottom left","displayTime":"1.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":510,"y":200,"wires":[]},{"id":"3a4bf596.ebdaba","type":"change","z":"3990c6a1.c2f82a","name":"Values Sent!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Values Sent!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["4c2fc03.e36aa4"]]},{"id":"4e642217.b5e44c","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Readings","qos":"","retain":"","broker":"65126e38.f3208","x":340,"y":100,"wires":[]},{"id":"cc68d68e.03db58","type":"ui_button","z":"3990c6a1.c2f82a","name":"","group":"ad187510.0dc298","order":10,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"#00FF00","bgcolor":"#008080","icon":"cloud_upload","payload":"template","payloadType":"flow","topic":"topic","topicType":"msg","x":90,"y":140,"wires":[["4e642217.b5e44c","3a4bf596.ebdaba"]]},{"id":"ec2ff0f9.76b4a","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":5,"width":4,"height":1,"name":"Rotations","label":"<i class=\"fa fa-refresh\"></i>","format":"Rotations","layout":"col-center","x":1880,"y":1480,"wires":[]},{"id":"b4571030.bd16c","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":7,"width":4,"height":1,"name":"Weather","label":"<i class=\"fa fa-cloud\"></i>","format":"Weather","layout":"col-center","x":1880,"y":1640,"wires":[]},{"id":"19ec350.cf647cb","type":"comment","z":"3990c6a1.c2f82a","name":"Simulate sensor values","info":"","x":1800,"y":60,"wires":[]},{"id":"5e310fd1.d2141","type":"comment","z":"3990c6a1.c2f82a","name":"Readings' Dashboard","info":"","x":760,"y":1320,"wires":[]},{"id":"444a64c5.751b9c","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":1,"width":5,"height":1,"name":"","label":"sensor number:","format":"{{msg.payload}}","layout":"col-center","x":1660,"y":1400,"wires":[]},{"id":"c1d41468.4075f8","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":3,"width":7,"height":1,"name":"","label":"Last values received at:","format":"{{msg.payload}}","layout":"col-center","x":1690,"y":1360,"wires":[]},{"id":"53a8597.028bda8","type":"ui_date_picker","z":"3990c6a1.c2f82a","name":"","label":"","group":"ad187510.0dc298","order":3,"width":4,"height":1,"passthru":false,"topic":"topic","topicType":"msg","x":1590,"y":180,"wires":[["d5e58f90.7a14e"]]},{"id":"6357a452.641b0c","type":"ui_text_input","z":"3990c6a1.c2f82a","name":"","label":"Sensor_id:","tooltip":"","group":"ad187510.0dc298","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1","topic":"topic","topicType":"msg","x":1590,"y":100,"wires":[["c334e33a.bd3f3"]]},{"id":"9a2ac4c1.1c2008","type":"ui_text_input","z":"3990c6a1.c2f82a","name":"","label":"","tooltip":"","group":"ad187510.0dc298","order":2,"width":3,"height":1,"passthru":false,"mode":"time","delay":"100","topic":"topic","topicType":"msg","x":1580,"y":140,"wires":[["9e0d394.80eebc8"]]},{"id":"18eef8ca.844af7","type":"function","z":"3990c6a1.c2f82a","name":"set flow.template.timestamp","func":"time = flow.get(\"template.timestamp\").substring(11)\n\ntemp = msg.payload + \"-\" + time\n\nflow.set(\"template.timestamp\", temp)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":180,"wires":[[]]},{"id":"222cb335.c3f08c","type":"function","z":"3990c6a1.c2f82a","name":"set flow.template.timestamp","func":"date = flow.get(\"template.timestamp\").substring(0,10)\n\ntemp = date + \"-\" + msg.payload\n\nflow.set(\"template.timestamp\", temp)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":140,"wires":[[]]},{"id":"d5e58f90.7a14e","type":"moment","z":"3990c6a1.c2f82a","name":"Y-MM-DD","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"Y-MM-DD","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Europe/Rome","x":1780,"y":180,"wires":[["18eef8ca.844af7"]]},{"id":"6ee42417.39153c","type":"ui_button","z":"3990c6a1.c2f82a","name":"Reset","group":"dba9ceab.22211","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"#008080","icon":"refresh","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":260,"wires":[["8aa9c682.4bbf58","a73e86e0.427758"]]},{"id":"f78b09bf.601ea8","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template","pt":"flow","to":"{\"sensor_id\":1,\"tran_rot\":0,\"long_rot\":0,\"wind\":0,\"temp_air\":0,\"relh_air\":0,\"rain\":0}","tot":"json"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"template.timestamp","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":300,"wires":[["4a09982a.ff8b78","e4781aa8.d307f8","1bb60c4f.2655f4","5ad82f4a.d1b46","f934af70.bc24f","b60f522c.10f86"]]},{"id":"7824130b.357f2c","type":"moment","z":"3990c6a1.c2f82a","name":"Y-MM-DD-HH:mm","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"Y-MM-DD-HH:mm","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Europe/Rome","x":670,"y":300,"wires":[["f78b09bf.601ea8"]]},{"id":"237a20c0.8bb56","type":"inject","z":"3990c6a1.c2f82a","name":"REPEAT","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":880,"y":160,"wires":[["33f29cbf.23aea4"]]},{"id":"33f29cbf.23aea4","type":"function","z":"3990c6a1.c2f82a","name":"Consistent Display","func":"T = flow.get(\"template\")\nif(T){\n    date = T.timestamp.substring(0,10)\n    time = T.timestamp.substring(11)\n    \n    msg0 = {payload : T.sensor_id}\n    msg1 = {payload : time}\n    msg2 = {payload : date}\n    msg3 = {payload : T.long_rot}\n    msg4 = {payload : T.tran_rot}\n    msg5 = {payload : T.wind}\n    msg6 = {payload : T.temp_air}\n    msg7 = {payload : T.relh_air}\n    msg8 = {payload : T.rain}\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]\n}","outputs":9,"noerr":0,"initialize":"","finalize":"","x":1230,"y":160,"wires":[["6357a452.641b0c"],["9a2ac4c1.1c2008"],["53a8597.028bda8"],["4a09982a.ff8b78"],["e4781aa8.d307f8"],["1bb60c4f.2655f4"],["5ad82f4a.d1b46"],["f934af70.bc24f"],["b60f522c.10f86"]]},{"id":"9e0d394.80eebc8","type":"moment","z":"3990c6a1.c2f82a","name":"HH:mm","topic":"","input":"payload","inputType":"msg","inTz":"Etc/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Etc/GMT","x":1780,"y":140,"wires":[["222cb335.c3f08c"]]},{"id":"72a707a0.3637e8","type":"comment","z":"3990c6a1.c2f82a","name":"Buttons","info":"","x":250,"y":40,"wires":[]},{"id":"8aa9c682.4bbf58","type":"change","z":"3990c6a1.c2f82a","name":"Values Reset!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Values Reset!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["4c2fc03.e36aa4"]]},{"id":"c96ff1e2.c2a14","type":"ui_ui_control","z":"3990c6a1.c2f82a","name":"INIT on tab change","events":"all","x":130,"y":360,"wires":[["a73e86e0.427758"]]},{"id":"a73e86e0.427758","type":"change","z":"3990c6a1.c2f82a","name":"Timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":300,"wires":[["7824130b.357f2c"]]},{"id":"520b4aba.4b9b44","type":"ui_toast","z":"3990c6a1.c2f82a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"Notification","x":1290,"y":1060,"wires":[[]]},{"id":"1c2e28f6.d24887","type":"comment","z":"3990c6a1.c2f82a","name":"Alerts checking and triggering","info":"","x":900,"y":860,"wires":[]},{"id":"42e075f9.fcaf4c","type":"ui_button","z":"3990c6a1.c2f82a","name":"","group":"dba9ceab.22211","order":2,"width":0,"height":0,"passthru":false,"label":"Malfunction","tooltip":"","color":"#FF0000","bgcolor":"#008080","icon":"flash_on","payload":"","payloadType":"date","topic":"payload","topicType":"msg","x":110,"y":520,"wires":[["10a83450.bc4a6c"]]},{"id":"10a83450.bc4a6c","type":"function","z":"3990c6a1.c2f82a","name":"Random failures","func":"msg0 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg1 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg2 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg3 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg4 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg5 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\n\n\nreturn [msg0,msg1,msg2,msg3,msg4,msg5];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":900,"y":520,"wires":[["44d448a.1abb0b8"],["94b6a684.be3508"],["9cec5a18.92f438"],["ec7993c8.5a5d2"],["24d530a9.5cace"],["8465849a.0e21b8"]]},{"id":"44d448a.1abb0b8","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.long_rot","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":420,"wires":[["4a09982a.ff8b78"]]},{"id":"94b6a684.be3508","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.tran_rot","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":460,"wires":[["e4781aa8.d307f8"]]},{"id":"9cec5a18.92f438","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.wind","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":500,"wires":[["1bb60c4f.2655f4"]]},{"id":"ec7993c8.5a5d2","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.temp_air","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":540,"wires":[["5ad82f4a.d1b46"]]},{"id":"24d530a9.5cace","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.relh_air","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":580,"wires":[["f934af70.bc24f"]]},{"id":"8465849a.0e21b8","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.rain","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":620,"wires":[["b60f522c.10f86"]]},{"id":"b3153ba.3a598c8","type":"function","z":"3990c6a1.c2f82a","name":"Is the Sensor malfunctioning?","func":"triggered = (msg.payload.long_rot == null || \n                 msg.payload.tran_rot == null ||\n                 msg.payload.wind == null || \n                 msg.payload.temp_air == null ||\n                 msg.payload.relh_air == null || \n                 msg.payload.rain == null)\n\nif (triggered){\n    \n    msg.topic = msg.payload.timestamp\n    msg.payload = msg.payload.sensor_id\n    return msg;\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":720,"wires":[["f91bc3f0.e111f","cf9576d8.eeaed8"]]},{"id":"a8337ef0.96919","type":"ui_toast","z":"3990c6a1.c2f82a","position":"top right","displayTime":"2.5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":1210,"y":720,"wires":[]},{"id":"4fdb1001.3a376","type":"function","z":"3990c6a1.c2f82a","name":"Timestamp creation (if missing)","func":"if(!msg.payload.timestamp){\n    \n    const MyDate = new Date()\n\n    timestamp = MyDate.getFullYear() + '-' +\n                ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +\n                ('0' + MyDate.getDate()).slice(-2) + '-' +\n                MyDate.getHours() + ':' +\n                MyDate.getMinutes()\n    \n    msg.payload.timestamp = timestamp\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":800,"wires":[["f972f6cd.b5b678","b3153ba.3a598c8","f5452b62.1819f8","4e7db926.ddafa8"]]},{"id":"c8f8afb8.e9eb6","type":"comment","z":"3990c6a1.c2f82a","name":"Simulation Info texts","info":"","x":1750,"y":820,"wires":[]},{"id":"d6092596.fe3c48","type":"comment","z":"3990c6a1.c2f82a","name":"Readings Info texts","info":"","x":1750,"y":920,"wires":[]},{"id":"f972f6cd.b5b678","type":"function","z":"3990c6a1.c2f82a","name":"INSERT  measures INTO DB","func":"\ncommand = \"INSERT INTO measures( timestamp, sensor_id, long_rot, tran_rot, wind, temp_air, relh_air, rain) VALUES( \"\n\ncommand += \"\\\"\" + msg.payload.timestamp + \"\\\", \"\n        +  msg.payload.sensor_id + \", \"\n        +  msg.payload.long_rot + \", \"\n        +  msg.payload.tran_rot + \", \"\n        +  msg.payload.wind + \", \"\n        +  msg.payload.temp_air + \", \"\n        +  msg.payload.relh_air + \", \"\n        +  msg.payload.rain + \")\"\n        \n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":800,"wires":[["5cac481c.5fb938"]]},{"id":"f91bc3f0.e111f","type":"function","z":"3990c6a1.c2f82a","name":"UPDATE sensors IN DB","func":"\ncommand =  \"UPDATE sensors \"\ncommand += \"SET last_malfunction = \\\"\" + msg.topic + \"\\\" \"\ncommand += \"WHERE sensor_id = \" + msg.payload\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":760,"wires":[["5cac481c.5fb938"]]},{"id":"cf9576d8.eeaed8","type":"template","z":"3990c6a1.c2f82a","name":"Format notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sensor number: {{payload}} is malfunctioning.","output":"str","x":1010,"y":720,"wires":[["a8337ef0.96919"]]},{"id":"c06304f4.2c96e8","type":"ui_table","z":"3990c6a1.c2f82a","group":"7e1253e1.ee2acc","name":"Measures List","order":1,"width":"20","height":"10","columns":[{"field":"sensor_id","title":"Sensor ID","width":"9%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"Timestamp","width":"12%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"long_rot","title":"Longitudinal rotation","width":"18%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"tran_rot","title":"Transversal rotation","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"wind","title":"Wind speed","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temp_air","title":"Temperature","width":"11%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"relh_air","title":"Relative humidity","width":"14%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"rain","title":"Rain amount","width":"11%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":2320,"y":1060,"wires":[]},{"id":"780faef6.59244","type":"ui_ui_control","z":"3990c6a1.c2f82a","name":"INIT on tab change","events":"change","x":1490,"y":960,"wires":[["80b6f7c5.f47d08","926eb355.51b3e","27ff747a.d1a07c"]]},{"id":"80b6f7c5.f47d08","type":"function","z":"3990c6a1.c2f82a","name":"SELECT measures FROM DB","func":"\ncommand = \"SELECT * FROM measures\"\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1770,"y":1060,"wires":[["2b420f87.06fc2"]]},{"id":"6601ad72.c82ca4","type":"comment","z":"3990c6a1.c2f82a","name":"History of measurements","info":"","x":1770,"y":1020,"wires":[]},{"id":"d49d18b0.a54528","type":"ui_table","z":"3990c6a1.c2f82a","group":"18f79e2c.768552","name":"Sensors list","order":2,"width":7,"height":3,"columns":[{"field":"sensor_id","title":"Sensor ID","width":"26%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"Last reading","width":"35%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"last_malfunction","title":"Last malfunction","width":"39%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1130,"y":1540,"wires":[["fa621560.820cf8"]]},{"id":"bb14d3c6.fc883","type":"ui_button","z":"3990c6a1.c2f82a","name":"Add sensor","group":"18f79e2c.768552","order":1,"width":7,"height":1,"passthru":false,"label":"","tooltip":"","color":"#00FF00","bgcolor":"#008080","icon":"add","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":290,"y":1420,"wires":[["2d78bd1f.57a122"]]},{"id":"2d78bd1f.57a122","type":"function","z":"3990c6a1.c2f82a","name":"INSERT sensors INTO DB","func":"A = global.get(\"sensor_num\") + 1\nglobal.set(\"sensor_num\", A)\n\ncommand = \"INSERT INTO sensors (sensor_id, last_malfunction) VALUES (\"\n\ncommand += A + \", \"\n        +  null + \")\"\n        \nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1420,"wires":[["487e943a.62354c"]]},{"id":"2383496c.bb55c6","type":"function","z":"3990c6a1.c2f82a","name":"SELECT sensors FROM DB","func":"\ncommand = \"SELECT sensors.sensor_id, long_rot, tran_rot, wind, temp_air, relh_air, rain, \" \ncommand += \"last_malfunction, MAX(timestamp) AS timestamp FROM sensors \"\ncommand += \"LEFT JOIN measures ON sensors.sensor_id = measures.sensor_id \"\ncommand += \"GROUP BY sensors.sensor_id \"\n\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1560,"wires":[["2e02d5ce.fc815a"]]},{"id":"2e40ba42.4851c6","type":"ui_ui_control","z":"3990c6a1.c2f82a","name":"INIT on tab change","events":"change","x":250,"y":1560,"wires":[["2383496c.bb55c6"]]},{"id":"f5452b62.1819f8","type":"function","z":"3990c6a1.c2f82a","name":"SELECT alerts FROM DB","func":"\ncommand = \"SELECT alert_id, message, conditions, sensor_id FROM alerts\" \n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":900,"wires":[["94f799ac.6d5f88"]]},{"id":"7f36e7b0.8c8798","type":"change","z":"3990c6a1.c2f82a","name":"topic = alerts","rules":[{"t":"set","p":"topic","pt":"msg","to":"alerts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1040,"wires":[["1fcfed3a.32b203"]]},{"id":"4e7db926.ddafa8","type":"change","z":"3990c6a1.c2f82a","name":"topic = measure","rules":[{"t":"set","p":"topic","pt":"msg","to":"measure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1000,"wires":[["1fcfed3a.32b203"]]},{"id":"2bfa81e2.77340e","type":"function","z":"3990c6a1.c2f82a","name":"Is the Alert Triggered?","func":"\nmeasure = msg.payload.measure\noutput = {payload : []}\n\nfor( var alert_idx in msg.payload.alerts){\n    triggered = false\n    A = msg.payload.alerts[alert_idx]\n    \n    if (A.sensor_id == null || A.sensor_id == measure.sensor_id){\n        \n        C = A.conditions.split(',')\n        triggered = true\n        \n        for (var k in C){\n            i = C[k]\n            if(triggered){\n                between = false\n                offset = 2\n                idx = i.indexOf(\"<\")\n                \n                if (idx == -1){\n                    idx = i.indexOf(\">\")\n                    \n                    if(idx == -1){ //found \"==\"\n                        idx = i.indexOf(\"=\")\n                        \n                        \n                    }else{\n                        if(i.indexOf(\"=\") == -1){ //found \">\"\n                            offset--\n                        }\n                        \n                    }\n                }else{\n                    if(i.indexOf(\">\") == -1){\n                        if(i.indexOf(\"=\") == -1){ //found \"<\"\n                            offset--\n                        }\n                    }else{ //found \"<>\"\n                        between = true\n                    }\n                }\n    \n                left = i.substring(0,idx)\n                right = i.substring(idx+offset)\n                \n                if(between){\n                    andx = right.indexOf(\"&\")\n                    \n                    num1 = Number(right.substring(0,andx))\n                    num2 = Number(right.substring(andx+1))\n                    \n                    if(num1 > num2){\n                        temp = num1\n                        num1 = num2\n                        num2 = temp\n                    }\n                    \n                    \n                }else{\n                    num1 = Number(right)\n                }\n                \n                switch(i.substring(idx,idx+offset)){\n                    case \">=\": if(measure[left] < num1){\n                                triggered = false}\n                                break;\n                    case \">\":  if(measure[left] <= num1){\n                                triggered = false}\n                                break;\n                    case \"==\": if(measure[left] != num1){\n                                triggered = false}\n                                break;\n                    case \"<\":  if(measure[left] >= num1){\n                                triggered = false}\n                                break;\n                    case \"<=\": if(measure[left] > num1){\n                                triggered = false}\n                                break;\n                    case \"<>\": if((measure[left] < num1) || (measure[left] > num2)){\n                                triggered = false}\n                                break;\n                }\n            }\n        }\n    \n        \n    }\n    output.payload[alert_idx] = {notification : \"Sensor number: \" + measure.sensor_id + \" has triggered the alert number: \" + A.alert_id + \".<br>\" + A.message + \"<br>\", triggered : triggered}\n}\n\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1000,"wires":[["574e659d.46ca7c"]]},{"id":"1fcfed3a.32b203","type":"join","z":"3990c6a1.c2f82a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":1020,"wires":[["2bfa81e2.77340e"]]},{"id":"574e659d.46ca7c","type":"function","z":"3990c6a1.c2f82a","name":"Format notification","func":"notification = \"\"\n\nfor (var alert_idx in msg.payload){\n    A = msg.payload[alert_idx]\n    \n    if(A.triggered){\n        notification += A.notification\n        \n    }\n    \n}\n\nmsg.payload = notification\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1060,"wires":[["520b4aba.4b9b44"]]},{"id":"39a4c66f.94c2fa","type":"switch","z":"3990c6a1.c2f82a","name":"is it a measurement?","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"sensor_id","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":720,"wires":[["4fdb1001.3a376"]]},{"id":"5a9ed8a3.4d2ff8","type":"debug","z":"3990c6a1.c2f82a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":130,"y":960,"wires":[]},{"id":"c334e33a.bd3f3","type":"function","z":"3990c6a1.c2f82a","name":"set flow.template.sensor_id","func":"sensor_num = global.get(\"sensor_num\")\n\ntemp = msg.payload\n\nif (temp < 0){temp = 0}\nif (temp > sensor_num){temp = sensor_num}\n\nflow.set(\"template.sensor_id\", temp)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":100,"wires":[[]]},{"id":"926eb355.51b3e","type":"ui_template","z":"3990c6a1.c2f82a","group":"3517266d.d4724a","name":" Simulation Info text","order":1,"width":7,"height":"6","format":"<table>\n\n<tr>\n<td style=\"width:6%\"> </td>\n<td style=\"width:37%\"> </td>\n<td style=\"text-align:center\">\n    <ng-md-icon icon=\"info\" style=\"fill: #008080\" size=\"24\"></ng-md-icon>\n</td>\n<td style=\"width:43%\"> </td>\n</tr>\n\n<tr><td colspan=\"4\">\nUsing this tab it is possible to simulate a sensor reading.\n</td></tr>\n\n<tr><td colspan=\"4\">\nEvery possibile sensor value is customizable between its valid minimum \nand maximum values.\n</td></tr>\n\n<tr>\n<td style=\"width:6%\">•</td>    \n<td colspan=\"3\">\nThe <span style=\"color: #00FF00;background: #000000\">green send button</span> will insert the readings into the database.\n</td></tr>\n\n<tr>\n<td style=\"width:6%\">•</td>   \n<td colspan=\"3\">\nThe <span style=\"color: #FF0000;background: #000000\">red malfunction button</span> can simulate the possibility of random \nfailures.\n</td></tr>\n\n<tr>\n<td style=\"width:6%\">•</td>\n<td colspan=\"3\">\nThe <span style=\"color: white;background: #000000\">white reset button</span> resets the values to their default, \nfixing any malfunction in the process.\n</td></tr>\n\n<tr><td colspan=\"4\">\nLastly, <b>any</b> change of tab will <b>reset</b> the simulation to default values.\n</td></tr>\n\n</table>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1750,"y":860,"wires":[[]]},{"id":"27ff747a.d1a07c","type":"ui_template","z":"3990c6a1.c2f82a","group":"cfc48e68.8d0e5","name":"Readings Info text","order":1,"width":7,"height":6,"format":"<table>\n\n<tr><td style=\"width: 40%\"></td>\n<td style=\"text-align:center\">\n<ng-md-icon icon=\"info\" style=\"fill: #008080\" size=\"24\"></ng-md-icon>\n</td>\n<td style=\"width: 40%\"></td> \n\n<tr><td colspan=\"3\">\nUsing this tab it is possible to visualize the last reading of all sensors in \nthe system.\n</td></tr>\n\n<tr><td colspan=\"3\">\nThe list shows sensor_ID, last timestamp of that sensor's reading and last \ntimestamp of that sensor's reading that didn't contain a value for all sensors, \n<span style=\"text-decoration:underline\">representing a malfunction</span>.\n</td></tr>\n\n<tr><td colspan=\"3\">\nAny empty entry represents a sensor for which no correct timestamp could be found \nin the database, \n<span style=\"text-decoration:underline\">for example a newly inserted sensor</span>.\n</td></tr>\n\n<tr><td colspan=\"3\">\nThe <span style=\"color: #00FF00;background: #000000\">green + button</span> at the \ntop of the list will add a new sensor to the database.\n</td></tr>\n\n<tr><td colspan=\"3\">\nWhen clicking on one entry of the list, its sensor reading will be shown on the gauges.\n</td></tr>\n\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1750,"y":960,"wires":[[]]},{"id":"5cac481c.5fb938","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/INSERT-UPDATE","qos":"","retain":"","broker":"65126e38.f3208","x":1260,"y":800,"wires":[]},{"id":"487e943a.62354c","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/INSERT-UPDATE-return","qos":"","retain":"","broker":"65126e38.f3208","x":560,"y":1360,"wires":[]},{"id":"c3a0a185.813d7","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":500,"y":1500,"wires":[["2383496c.bb55c6"]]},{"id":"590bdf82.36e98","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/measures-return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":2080,"y":1100,"wires":[["c06304f4.2c96e8"]]},{"id":"2b420f87.06fc2","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/measures","qos":"","retain":"","broker":"65126e38.f3208","x":2060,"y":1060,"wires":[]},{"id":"2e02d5ce.fc815a","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/sensors","qos":"","retain":"","broker":"65126e38.f3208","x":530,"y":1620,"wires":[]},{"id":"fed6adaa.b60c5","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/sensors-return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":870,"y":1540,"wires":[["d49d18b0.a54528"]]},{"id":"94f799ac.6d5f88","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/alerts-small","qos":"","retain":"","broker":"65126e38.f3208","x":1270,"y":900,"wires":[]},{"id":"5f8441c1.cc3f9","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/alerts-small-return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":400,"y":1040,"wires":[["7f36e7b0.8c8798"]]},{"id":"65126e38.f3208","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e880180c.5e45f8","type":"ui_group","name":"Gauges","tab":"2c91f384.f52dfc","order":2,"disp":true,"width":"13","collapse":false},{"id":"ad187510.0dc298","type":"ui_group","name":"Sensor Readings","tab":"27392637.24c19a","order":2,"disp":true,"width":"7","collapse":false},{"id":"dba9ceab.22211","type":"ui_group","name":"Actions","tab":"27392637.24c19a","order":1,"disp":true,"width":"3","collapse":false},{"id":"7e1253e1.ee2acc","type":"ui_group","name":"Past Sensor Readings","tab":"ba34c212.a4d14","order":1,"disp":true,"width":"20","collapse":false},{"id":"18f79e2c.768552","type":"ui_group","name":"Sensors List","tab":"2c91f384.f52dfc","order":1,"disp":true,"width":"7","collapse":false},{"id":"3517266d.d4724a","type":"ui_group","name":"Simulation Info","tab":"27392637.24c19a","order":3,"disp":true,"width":7,"collapse":false},{"id":"cfc48e68.8d0e5","type":"ui_group","name":"Readings Info","tab":"2c91f384.f52dfc","order":3,"disp":true,"width":7,"collapse":false},{"id":"2c91f384.f52dfc","type":"ui_tab","name":"Last Readings","icon":"network_check","order":2,"disabled":false,"hidden":false},{"id":"27392637.24c19a","type":"ui_tab","name":"Sensor Simulation","icon":"fa-sliders","order":1,"disabled":false,"hidden":false},{"id":"ba34c212.a4d14","type":"ui_tab","name":"Readings History","icon":"history","order":3,"disabled":false,"hidden":false}]