Dashboard_flow.json
[{"id":"3990c6a1.c2f82a","type":"tab","label":"Twin digital bridge","disabled":false,"info":""},{"id":"226c8060.a156","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"status","qos":"2","datatype":"json","broker":"65126e38.f3208","x":130,"y":740,"wires":[["fa621560.820cf8"]]},{"id":"db49a591.a38508","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":17,"width":4,"height":4,"gtype":"gage","title":"Wind speed","label":"m/s","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":610,"y":820,"wires":[]},{"id":"d34ec111.9ab01","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":24,"width":4,"height":4,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-30","max":"70","colors":["#7ef3fb","#00b500","#ca3838"],"seg1":"10","seg2":"40","x":610,"y":860,"wires":[]},{"id":"11523286.49869d","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":18,"width":4,"height":4,"gtype":"gage","title":"Relative humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":900,"wires":[]},{"id":"e1b52047.71b09","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":25,"width":4,"height":4,"gtype":"wave","title":"Rain amount","label":"mm/day","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"6","x":610,"y":940,"wires":[]},{"id":"b2cd9378.df27e","type":"switch","z":"3990c6a1.c2f82a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"timestamp","vt":"str"},{"t":"eq","v":"sensor_id","vt":"str"},{"t":"eq","v":"long_rot","vt":"str"},{"t":"eq","v":"tran_rot","vt":"str"},{"t":"eq","v":"wind","vt":"str"},{"t":"eq","v":"temp_air","vt":"str"},{"t":"eq","v":"relh_air","vt":"str"},{"t":"eq","v":"rain","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":390,"y":740,"wires":[["c1d41468.4075f8"],["444a64c5.751b9c"],["c118d55d.20cbf8"],["223884cb.571b1c"],["db49a591.a38508"],["d34ec111.9ab01"],["11523286.49869d"],["e1b52047.71b09"]]},{"id":"fa621560.820cf8","type":"split","z":"3990c6a1.c2f82a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":250,"y":740,"wires":[["b2cd9378.df27e"]]},{"id":"c118d55d.20cbf8","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":15,"width":4,"height":4,"gtype":"gage","title":"Longitudinal rotation","label":"°","format":"{{value}}","min":"-30","max":"30","colors":["#ca3838","#00e608","#ca3838"],"seg1":"-5","seg2":"5","x":640,"y":700,"wires":[]},{"id":"223884cb.571b1c","type":"ui_gauge","z":"3990c6a1.c2f82a","name":"","group":"e880180c.5e45f8","order":22,"width":4,"height":4,"gtype":"gage","title":"Transversal rotation","label":"°","format":"{{value}}","min":"-30","max":"30","colors":["#ca3838","#0ec42c","#ca3838"],"seg1":"-5","seg2":"5","x":630,"y":740,"wires":[]},{"id":"4a09982a.ff8b78","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Longitudinal rotation","tooltip":"","group":"ad187510.0dc298","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-30","max":"30","step":"0.5","x":580,"y":180,"wires":[["b32290f6.e4c32"]]},{"id":"e4781aa8.d307f8","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Transversal rotation","tooltip":"","group":"ad187510.0dc298","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-30","max":"30","step":"0.5","x":570,"y":220,"wires":[["14d9d375.5199ed"]]},{"id":"1bb60c4f.2655f4","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Wind speed","tooltip":"","group":"ad187510.0dc298","order":6,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"120","step":"0.5","x":550,"y":260,"wires":[["ddd68458.13d008"]]},{"id":"5ad82f4a.d1b46","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Temperature","tooltip":"","group":"ad187510.0dc298","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-30","max":"70","step":"0.5","x":550,"y":300,"wires":[["ac4ca200.c7855"]]},{"id":"f934af70.bc24f","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Relative humidity","tooltip":"","group":"ad187510.0dc298","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"0.5","x":570,"y":340,"wires":[["e2019d27.55058"]]},{"id":"b60f522c.10f86","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Rain amount","tooltip":"","group":"ad187510.0dc298","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"0.5","x":550,"y":380,"wires":[["1f388ea3.cbf4a1"]]},{"id":"b32290f6.e4c32","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.long_rot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":180,"wires":[[]]},{"id":"14d9d375.5199ed","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.tran_rot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":220,"wires":[[]]},{"id":"ddd68458.13d008","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.wind","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":260,"wires":[[]]},{"id":"ac4ca200.c7855","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.temp_air","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":300,"wires":[[]]},{"id":"e2019d27.55058","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.relh_air","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":340,"wires":[[]]},{"id":"1f388ea3.cbf4a1","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.rain","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":381,"wires":[[]]},{"id":"4c2fc03.e36aa4","type":"ui_toast","z":"3990c6a1.c2f82a","position":"top right","displayTime":"1.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1620,"y":240,"wires":[]},{"id":"3a4bf596.ebdaba","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Values Sent!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":220,"wires":[["4c2fc03.e36aa4"]]},{"id":"4e642217.b5e44c","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"status","qos":"","retain":"","broker":"65126e38.f3208","x":1390,"y":140,"wires":[]},{"id":"cc68d68e.03db58","type":"ui_button","z":"3990c6a1.c2f82a","name":"","group":"ad187510.0dc298","order":10,"width":0,"height":0,"passthru":false,"label":"send","tooltip":"","color":"green","bgcolor":"black","icon":"","payload":"template","payloadType":"flow","topic":"topic","topicType":"msg","x":1270,"y":180,"wires":[["4e642217.b5e44c","3a4bf596.ebdaba"]]},{"id":"ec2ff0f9.76b4a","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":11,"width":4,"height":1,"name":"","label":"Rotations","format":"","layout":"col-center","x":800,"y":880,"wires":[]},{"id":"b4571030.bd16c","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":13,"width":4,"height":1,"name":"","label":"Weather","format":"","layout":"col-center","x":820,"y":720,"wires":[]},{"id":"19ec350.cf647cb","type":"comment","z":"3990c6a1.c2f82a","name":"Simulate sensor values","info":"","x":760,"y":20,"wires":[]},{"id":"5e310fd1.d2141","type":"comment","z":"3990c6a1.c2f82a","name":"Dashboard","info":"","x":300,"y":640,"wires":[]},{"id":"444a64c5.751b9c","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":5,"width":5,"height":1,"name":"","label":"sensor number:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":640,"wires":[]},{"id":"c1d41468.4075f8","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":8,"width":7,"height":1,"name":"","label":"Last values received at:","format":"{{msg.payload}}","layout":"col-center","x":650,"y":600,"wires":[]},{"id":"7816b767.b79978","type":"ui_text","z":"3990c6a1.c2f82a","group":"e880180c.5e45f8","order":2,"width":5,"height":1,"name":"","label":"General","format":"","layout":"col-center","x":840,"y":620,"wires":[]},{"id":"53a8597.028bda8","type":"ui_date_picker","z":"3990c6a1.c2f82a","name":"","label":"","group":"ad187510.0dc298","order":3,"width":4,"height":1,"passthru":false,"topic":"topic","topicType":"msg","x":550,"y":140,"wires":[["d5e58f90.7a14e"]]},{"id":"6357a452.641b0c","type":"ui_text_input","z":"3990c6a1.c2f82a","name":"","label":"Sensor_id:","tooltip":"","group":"ad187510.0dc298","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1","topic":"topic","topicType":"msg","x":550,"y":60,"wires":[["33a7137d.1c74ec"]]},{"id":"9a2ac4c1.1c2008","type":"ui_text_input","z":"3990c6a1.c2f82a","name":"","label":"","tooltip":"","group":"ad187510.0dc298","order":2,"width":3,"height":1,"passthru":false,"mode":"time","delay":"1","topic":"topic","topicType":"msg","x":540,"y":100,"wires":[["9e0d394.80eebc8"]]},{"id":"33a7137d.1c74ec","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.sensor_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":60,"wires":[[]]},{"id":"18eef8ca.844af7","type":"function","z":"3990c6a1.c2f82a","name":"set msg.template.timestamp","func":"time = flow.get(\"template.timestamp\").substring(11)\n\ntemp = msg.payload + \"-\" + time\n\nflow.set(\"template.timestamp\", temp)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":140,"wires":[[]]},{"id":"222cb335.c3f08c","type":"function","z":"3990c6a1.c2f82a","name":"set flow.template.timestamp","func":"date = flow.get(\"template.timestamp\").substring(0,10)\n\ntemp = date + \"-\" + msg.payload\n\nflow.set(\"template.timestamp\", temp)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":100,"wires":[[]]},{"id":"d5e58f90.7a14e","type":"moment","z":"3990c6a1.c2f82a","name":"Y-MM-DD","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"Y-MM-DD","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Europe/Rome","x":740,"y":140,"wires":[["18eef8ca.844af7"]]},{"id":"6ee42417.39153c","type":"ui_button","z":"3990c6a1.c2f82a","name":"reset","group":"dba9ceab.22211","order":0,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"red","bgcolor":"black","icon":"refresh","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":1270,"y":300,"wires":[["f78b09bf.601ea8","7824130b.357f2c"]]},{"id":"f78b09bf.601ea8","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Values Reset!","tot":"str"},{"t":"set","p":"template","pt":"flow","to":"{\"sensor_id\":1,\"tran_rot\":0,\"long_rot\":0,\"wind\":0,\"temp_air\":0,\"relh_air\":0,\"rain\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":260,"wires":[["4c2fc03.e36aa4"]]},{"id":"7824130b.357f2c","type":"moment","z":"3990c6a1.c2f82a","name":"Y-MM-DD-HH:mm","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"Y-MM-DD-HH:mm","locale":"it-IT","output":"template.timestamp","outputType":"flow","outTz":"Europe/Rome","x":1430,"y":340,"wires":[[]]},{"id":"237a20c0.8bb56","type":"inject","z":"3990c6a1.c2f82a","name":"REPEAT","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":100,"y":220,"wires":[["33f29cbf.23aea4"]]},{"id":"33f29cbf.23aea4","type":"function","z":"3990c6a1.c2f82a","name":"Consistent Display","func":"T = flow.get(\"template\")\ndate = T.timestamp.substring(0,10)\ntime = T.timestamp.substring(11)\n\nmsg0 = {payload : T.sensor_id}\nmsg1 = {payload : time}\nmsg2 = {payload : date}\nmsg3 = {payload : T.long_rot}\nmsg4 = {payload : T.tran_rot}\nmsg5 = {payload : T.wind}\nmsg6 = {payload : T.temp_air}\nmsg7 = {payload : T.relh_air}\nmsg8 = {payload : T.rain}\n\nreturn [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]","outputs":9,"noerr":0,"initialize":"","finalize":"","x":290,"y":220,"wires":[["6357a452.641b0c"],["9a2ac4c1.1c2008"],["53a8597.028bda8"],["4a09982a.ff8b78"],["e4781aa8.d307f8"],["1bb60c4f.2655f4"],["5ad82f4a.d1b46"],["f934af70.bc24f"],["b60f522c.10f86"]]},{"id":"9e0d394.80eebc8","type":"moment","z":"3990c6a1.c2f82a","name":"HH:mm","topic":"","input":"payload","inputType":"msg","inTz":"Etc/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Etc/GMT","x":740,"y":100,"wires":[["222cb335.c3f08c"]]},{"id":"72a707a0.3637e8","type":"comment","z":"3990c6a1.c2f82a","name":"Buttons to send and reset values","info":"","x":1440,"y":80,"wires":[]},{"id":"65126e38.f3208","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e880180c.5e45f8","type":"ui_group","name":"Gauges","tab":"2c91f384.f52dfc","order":1,"disp":true,"width":13,"collapse":false},{"id":"ad187510.0dc298","type":"ui_group","name":"Sensor readings","tab":"27392637.24c19a","order":2,"disp":true,"width":7,"collapse":false},{"id":"dba9ceab.22211","type":"ui_group","name":"RESET","tab":"27392637.24c19a","order":1,"disp":true,"width":2,"collapse":false},{"id":"2c91f384.f52dfc","type":"ui_tab","name":"Twin digital bridge","icon":"check","disabled":false,"hidden":false},{"id":"27392637.24c19a","type":"ui_tab","name":"Real life simulation","icon":"list","order":2,"disabled":false,"hidden":false}]