Database_flow.json
[{"id":"99cc1aca.8f8e28","type":"tab","label":"Persistency","disabled":false,"info":""},{"id":"aba71ccf.2d875","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":830,"y":380,"wires":[["e5a79f57.f78e1"]]},{"id":"65b469b4.6416a8","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE measures","payloadType":"str","x":770,"y":180,"wires":[["aba71ccf.2d875"]]},{"id":"84cbb696.2c7e38","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM measures","x":820,"y":560,"wires":[["aba71ccf.2d875"]]},{"id":"1162d6d3.8c71c9","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM sensors","x":820,"y":600,"wires":[["aba71ccf.2d875"]]},{"id":"939034fc.96b568","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM alerts","x":810,"y":640,"wires":[["aba71ccf.2d875"]]},{"id":"57c231ab.09638","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE measures(timestamp TEXT NOT NULL,sensor_id INTEGER NOT NULL,long_rot REAL,tran_rot REAL,wind REAL,temp_air REAL,relh_air REAL,rain REAL, PRIMARY KEY (timestamp, sensor_id), FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id) ON DELETE CASCADE ON UPDATE NO ACTION) WITHOUT ROWID","payloadType":"str","x":1030,"y":180,"wires":[["aba71ccf.2d875"]]},{"id":"3fa0cbf8.a5b864","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE sensors( sensor_id INTEGER NOT NULL PRIMARY KEY,last_malfunction TEXT) WITHOUT ROWID","payloadType":"str","x":1020,"y":220,"wires":[["aba71ccf.2d875"]]},{"id":"a5f1f19b.808e","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE alerts( alert_id INTEGER NOT NULL PRIMARY KEY, sensor_id INTEGER, message TEXT NOT NULL, conditions TEXT NOT NULL, submitter TEXT NOT NULL, FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id) ON DELETE CASCADE ON UPDATE NO ACTION) WITHOUT ROWID","payloadType":"str","x":1020,"y":260,"wires":[["aba71ccf.2d875"]]},{"id":"275cc17a.f40f5e","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE sensors","x":760,"y":220,"wires":[["aba71ccf.2d875"]]},{"id":"77e34feb.24995","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE alerts","x":760,"y":260,"wires":[["aba71ccf.2d875"]]},{"id":"e5a79f57.f78e1","type":"debug","z":"99cc1aca.8f8e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":380,"wires":[]},{"id":"ab8383ac.b2078","type":"inject","z":"99cc1aca.8f8e28","name":"POPULATE","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":290,"y":700,"wires":[["50830fe5.56cf6","4275e20c.704c6c","e73471eb.9df66"]]},{"id":"50830fe5.56cf6","type":"template","z":"99cc1aca.8f8e28","name":"measures","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO measures( timestamp, \n                      sensor_id, \n                      long_rot, \n                      tran_rot, \n                      wind, \n                      temp_air, \n                      relh_air, \n                      rain) \n              VALUES( \"2019-05-23-17:00\",\n                      1,\n                      2.5,\n                      -0.5,\n                      7,\n                      23,\n                      54,\n                      0),\n                    ( \"2019-05-23-17:00\",\n                      2,\n                      0.5,\n                      0.5,\n                      null,\n                      22.5,\n                      54,\n                      0),\n                    ( \"2019-05-23-17:00\",\n                      3,\n                      7,\n                      -1,\n                      3.5,\n                      22,\n                      47,\n                      null),\n                    ( \"2019-05-23-17:00\",\n                      4,\n                      1,\n                      1.5,\n                      3,\n                      23,\n                      47,\n                      2.5),\n                    ( \"2021-05-23-22:00\",\n                      1,\n                      0,\n                      -5,\n                      3,\n                      27,\n                      66,\n                      2),\n                    ( \"2021-05-23-22:00\",\n                      2,\n                      12,\n                      -6,\n                      3.5,\n                      28,\n                      61,\n                      5),\n                    ( \"2021-05-23-22:00\",\n                      3,\n                      7,\n                      -4,\n                      3.5,\n                      26,\n                      67,\n                      2),\n                    ( \"2021-05-23-22:00\",\n                      4,\n                      3,\n                      0,\n                      3,\n                      26.5,\n                      60,\n                      4.5);\n","output":"str","x":480,"y":640,"wires":[["aba71ccf.2d875"]]},{"id":"4275e20c.704c6c","type":"template","z":"99cc1aca.8f8e28","name":"sensors","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO sensors (sensor_id, last_malfunction) \n            VALUES  (1, null),\n                    (2, \"2019-05-23-17:00\"),\n                    (3, \"2019-05-23-17:00\"),\n                    (4, null);\n","output":"str","x":480,"y":700,"wires":[["aba71ccf.2d875"]]},{"id":"e73471eb.9df66","type":"template","z":"99cc1aca.8f8e28","name":"alerts","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO alerts( alert_id, \n                    sensor_id, \n                    message, \n                    conditions, \n                    submitter) \n            VALUES( 1,\n                    null,\n                    \"Dangerous water levels\",\n                    \"rain>=25\",\n                    \"Plumbing Company\"),\n                  ( 2,\n                    null,\n                    \"Too much longitudinal rotation\",\n                    \"long_rot>10\",\n                    \"Maintenance Company\"),\n                  ( 3,\n                    null,\n                    \"Too much transversal rotation\",\n                    \"tran_rot>10\",\n                    \"Maintenance Company\"),\n                  ( 4,\n                    null,\n                    \"Too much longitudinal rotation\",\n                    \"long_rot<-10\",\n                    \"Maintenance Company\"),\n                  ( 5,\n                    null,\n                    \"Too much transversal rotation\",\n                    \"tran_rot<-10\",\n                    \"Maintenance Company\"),\n                  ( 6,\n                    1,\n                    \"West side exposed to too much wind\",\n                    \"wind>=30\",\n                    \"Mr Meteorologist\"),\n                  ( 7,\n                    3,\n                    \"West side exposed to too much wind\",\n                    \"wind>=30\",\n                    \"Mr Meteorologist\"),\n                  ( 8,\n                    4,\n                    \"Favorable conditions!\",\n                    \"temp_air<>30&45,relh_air<>40&85\",\n                    \"Research team\");\n","output":"str","x":470,"y":760,"wires":[["aba71ccf.2d875"]]},{"id":"61409e20.dd6cd","type":"inject","z":"99cc1aca.8f8e28","name":"WIPE","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":340,"wires":[["26c2791e.64a846","eefb5ee2.44622","d75458b.8a975a8"]]},{"id":"26c2791e.64a846","type":"template","z":"99cc1aca.8f8e28","name":"measures","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE measures;\n","output":"str","x":480,"y":280,"wires":[["aba71ccf.2d875"]]},{"id":"eefb5ee2.44622","type":"template","z":"99cc1aca.8f8e28","name":"sensors","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE sensors;\n","output":"str","x":480,"y":340,"wires":[["aba71ccf.2d875"]]},{"id":"d75458b.8a975a8","type":"template","z":"99cc1aca.8f8e28","name":"alerts","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE alerts;\n","output":"str","x":470,"y":400,"wires":[["aba71ccf.2d875"]]},{"id":"fba3a16d.9f676","type":"inject","z":"99cc1aca.8f8e28","name":"SPAWN","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":520,"wires":[["944dd52f.bddfe8","5a178e6c.99846","7ed34961.9416e8"]]},{"id":"944dd52f.bddfe8","type":"template","z":"99cc1aca.8f8e28","name":"measures","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE measures(\n    timestamp TEXT NOT NULL,\n    sensor_id INTEGER NOT NULL,\n    long_rot REAL,\n    tran_rot REAL,\n    wind REAL,\n    temp_air REAL,\n    relh_air REAL,\n    rain REAL,\n    PRIMARY KEY (timestamp, sensor_id),\n    FOREIGN KEY (sensor_id) \n        REFERENCES sensors (sensor_id) \n        ON DELETE CASCADE \n        ON UPDATE NO ACTION) WITHOUT ROWID;","output":"str","x":480,"y":460,"wires":[["aba71ccf.2d875"]]},{"id":"5a178e6c.99846","type":"template","z":"99cc1aca.8f8e28","name":"sensors","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE sensors( \n    sensor_id INTEGER NOT NULL PRIMARY KEY,\n    last_malfunction TEXT) WITHOUT ROWID;","output":"str","x":480,"y":520,"wires":[["aba71ccf.2d875"]]},{"id":"7ed34961.9416e8","type":"template","z":"99cc1aca.8f8e28","name":"alerts","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE alerts( \n    alert_id INTEGER NOT NULL PRIMARY KEY, \n    sensor_id INTEGER, \n    message TEXT NOT NULL, \n    conditions TEXT NOT NULL, \n    submitter TEXT NOT NULL, \n    FOREIGN KEY (sensor_id) \n        REFERENCES sensors (sensor_id) \n        ON DELETE CASCADE \n        ON UPDATE NO ACTION) WITHOUT ROWID;","output":"str","x":470,"y":580,"wires":[["aba71ccf.2d875"]]},{"id":"5f6a2dca.57ef14","type":"sqlitedb","db":"E:\\GitHubDesktop\\Repos\\IoT-Twin-Digital-Bridge\\TDB.sqlite","mode":"RWC"}]