Database_flow.json
[{"id":"99cc1aca.8f8e28","type":"tab","label":"Persistency","disabled":false,"info":""},{"id":"aba71ccf.2d875","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":1930,"y":340,"wires":[["e5a79f57.f78e1"]]},{"id":"65b469b4.6416a8","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE measures","payloadType":"str","x":1870,"y":120,"wires":[["aba71ccf.2d875"]]},{"id":"84cbb696.2c7e38","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM measures","x":1920,"y":520,"wires":[["aba71ccf.2d875"]]},{"id":"1162d6d3.8c71c9","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM sensors","x":1920,"y":560,"wires":[["aba71ccf.2d875"]]},{"id":"939034fc.96b568","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM alerts","x":1910,"y":600,"wires":[["aba71ccf.2d875"]]},{"id":"57c231ab.09638","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE measures(timestamp TEXT NOT NULL,sensor_id INTEGER NOT NULL,long_rot REAL,tran_rot REAL,wind REAL,temp_air REAL,relh_air REAL,rain REAL, PRIMARY KEY (timestamp, sensor_id), FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id) ON DELETE CASCADE ON UPDATE NO ACTION) WITHOUT ROWID","payloadType":"str","x":2130,"y":120,"wires":[["aba71ccf.2d875"]]},{"id":"3fa0cbf8.a5b864","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE sensors( sensor_id INTEGER NOT NULL PRIMARY KEY,last_malfunction TEXT) WITHOUT ROWID","payloadType":"str","x":2120,"y":160,"wires":[["aba71ccf.2d875"]]},{"id":"a5f1f19b.808e","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE alerts( alert_id INTEGER NOT NULL PRIMARY KEY, sensor_id INTEGER, message TEXT NOT NULL, conditions TEXT NOT NULL, submitter TEXT NOT NULL, FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id) ON DELETE CASCADE ON UPDATE NO ACTION) WITHOUT ROWID","payloadType":"str","x":2120,"y":200,"wires":[["aba71ccf.2d875"]]},{"id":"275cc17a.f40f5e","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE sensors","x":1860,"y":160,"wires":[["aba71ccf.2d875"]]},{"id":"77e34feb.24995","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE alerts","x":1860,"y":200,"wires":[["aba71ccf.2d875"]]},{"id":"e5a79f57.f78e1","type":"debug","z":"99cc1aca.8f8e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2130,"y":340,"wires":[]},{"id":"ab8383ac.b2078","type":"inject","z":"99cc1aca.8f8e28","name":"POPULATE","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1390,"y":540,"wires":[["50830fe5.56cf6","4275e20c.704c6c","e73471eb.9df66"]]},{"id":"50830fe5.56cf6","type":"template","z":"99cc1aca.8f8e28","name":"measures","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO measures( timestamp, \n                      sensor_id, \n                      long_rot, \n                      tran_rot, \n                      wind, \n                      temp_air, \n                      relh_air, \n                      rain) \n              VALUES( \"2019-05-23-17:00\",\n                      1,\n                      2.5,\n                      -0.5,\n                      7,\n                      23,\n                      54,\n                      0),\n                    ( \"2019-05-23-17:00\",\n                      2,\n                      0.5,\n                      0.5,\n                      null,\n                      22.5,\n                      54,\n                      0),\n                    ( \"2019-05-23-17:00\",\n                      3,\n                      7,\n                      -1,\n                      3.5,\n                      22,\n                      47,\n                      null),\n                    ( \"2019-05-23-17:00\",\n                      4,\n                      1,\n                      1.5,\n                      3,\n                      23,\n                      47,\n                      2.5),\n                    ( \"2021-05-23-22:00\",\n                      1,\n                      0,\n                      -5,\n                      3,\n                      27,\n                      66,\n                      2),\n                    ( \"2021-05-23-22:00\",\n                      2,\n                      12,\n                      -6,\n                      3.5,\n                      28,\n                      61,\n                      5),\n                    ( \"2021-05-23-22:00\",\n                      3,\n                      7,\n                      -4,\n                      3.5,\n                      26,\n                      67,\n                      2),\n                    ( \"2021-05-23-22:00\",\n                      4,\n                      3,\n                      0,\n                      3,\n                      26.5,\n                      60,\n                      4.5);\n","output":"str","x":1580,"y":480,"wires":[["aba71ccf.2d875"]]},{"id":"4275e20c.704c6c","type":"template","z":"99cc1aca.8f8e28","name":"sensors","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO sensors (sensor_id, last_malfunction) \n            VALUES  (1, null),\n                    (2, \"2019-05-23-17:00\"),\n                    (3, \"2019-05-23-17:00\"),\n                    (4, null);\n","output":"str","x":1580,"y":540,"wires":[["aba71ccf.2d875"]]},{"id":"e73471eb.9df66","type":"template","z":"99cc1aca.8f8e28","name":"alerts","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO alerts( alert_id, \n                    sensor_id, \n                    message, \n                    conditions, \n                    submitter) \n            VALUES( 1,\n                    null,\n                    \"Dangerous water levels\",\n                    \"rain>=25\",\n                    \"Plumbing Company\"),\n                  ( 2,\n                    null,\n                    \"Too much longitudinal rotation\",\n                    \"long_rot>10\",\n                    \"Maintenance Company\"),\n                  ( 3,\n                    null,\n                    \"Too much transversal rotation\",\n                    \"tran_rot>10\",\n                    \"Maintenance Company\"),\n                  ( 4,\n                    null,\n                    \"Too much longitudinal rotation\",\n                    \"long_rot<-10\",\n                    \"Maintenance Company\"),\n                  ( 5,\n                    null,\n                    \"Too much transversal rotation\",\n                    \"tran_rot<-10\",\n                    \"Maintenance Company\"),\n                  ( 6,\n                    1,\n                    \"West side exposed to too much wind\",\n                    \"wind>=30\",\n                    \"Mr Meteorologist\"),\n                  ( 7,\n                    3,\n                    \"West side exposed to too much wind\",\n                    \"wind>=30\",\n                    \"Mr Meteorologist\"),\n                  ( 8,\n                    4,\n                    \"Favorable conditions!\",\n                    \"temp_air<>30&45,relh_air<>40&85\",\n                    \"Research team\");\n","output":"str","x":1570,"y":600,"wires":[["aba71ccf.2d875"]]},{"id":"61409e20.dd6cd","type":"inject","z":"99cc1aca.8f8e28","name":"WIPE","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1370,"y":180,"wires":[["26c2791e.64a846","eefb5ee2.44622","d75458b.8a975a8"]]},{"id":"26c2791e.64a846","type":"template","z":"99cc1aca.8f8e28","name":"measures","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE measures;\n","output":"str","x":1580,"y":120,"wires":[["aba71ccf.2d875"]]},{"id":"eefb5ee2.44622","type":"template","z":"99cc1aca.8f8e28","name":"sensors","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE sensors;\n","output":"str","x":1580,"y":180,"wires":[["aba71ccf.2d875"]]},{"id":"d75458b.8a975a8","type":"template","z":"99cc1aca.8f8e28","name":"alerts","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE alerts;\n","output":"str","x":1570,"y":240,"wires":[["aba71ccf.2d875"]]},{"id":"fba3a16d.9f676","type":"inject","z":"99cc1aca.8f8e28","name":"SPAWN","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1370,"y":360,"wires":[["944dd52f.bddfe8","5a178e6c.99846","7ed34961.9416e8"]]},{"id":"944dd52f.bddfe8","type":"template","z":"99cc1aca.8f8e28","name":"measures","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE measures(\n    timestamp TEXT NOT NULL,\n    sensor_id INTEGER NOT NULL,\n    long_rot REAL,\n    tran_rot REAL,\n    wind REAL,\n    temp_air REAL,\n    relh_air REAL,\n    rain REAL,\n    PRIMARY KEY (timestamp, sensor_id),\n    FOREIGN KEY (sensor_id) \n        REFERENCES sensors (sensor_id) \n        ON DELETE CASCADE \n        ON UPDATE NO ACTION) WITHOUT ROWID;","output":"str","x":1580,"y":300,"wires":[["aba71ccf.2d875"]]},{"id":"5a178e6c.99846","type":"template","z":"99cc1aca.8f8e28","name":"sensors","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE sensors( \n    sensor_id INTEGER NOT NULL PRIMARY KEY,\n    last_malfunction TEXT) WITHOUT ROWID;","output":"str","x":1580,"y":360,"wires":[["aba71ccf.2d875"]]},{"id":"7ed34961.9416e8","type":"template","z":"99cc1aca.8f8e28","name":"alerts","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE alerts( \n    alert_id INTEGER NOT NULL PRIMARY KEY, \n    sensor_id INTEGER, \n    message TEXT NOT NULL, \n    conditions TEXT NOT NULL, \n    submitter TEXT NOT NULL, \n    FOREIGN KEY (sensor_id) \n        REFERENCES sensors (sensor_id) \n        ON DELETE CASCADE \n        ON UPDATE NO ACTION) WITHOUT ROWID;","output":"str","x":1570,"y":420,"wires":[["aba71ccf.2d875"]]},{"id":"ddf16a0c.d326b8","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":260,"wires":[["6a38e234.81897c"]]},{"id":"ecf7e39e.29ed6","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["ddf16a0c.d326b8"]]},{"id":"9f3ad95c.d95608","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/measures","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":180,"y":260,"wires":[["f22ae6f1.cf0748"]]},{"id":"6a38e234.81897c","type":"mqtt out","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/measures-return","qos":"","retain":"","broker":"65126e38.f3208","x":1020,"y":260,"wires":[]},{"id":"8a049fc.3b6fc6","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/INSERT-UPDATE","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":170,"y":160,"wires":[["3cb92b14.cc3044"]]},{"id":"f8c05b34.b8c308","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["c34ed866.9a1668"]]},{"id":"c34ed866.9a1668","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":160,"wires":[["cbb85fe0.a1ca2"]]},{"id":"cbb85fe0.a1ca2","type":"mqtt out","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/INSERT-UPDATE-return","qos":"","retain":"","broker":"65126e38.f3208","x":1020,"y":160,"wires":[]},{"id":"13850837.d392e8","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/sensors","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":170,"y":320,"wires":[["2a3dbfca.31ecf"]]},{"id":"7ddca34c.45545c","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/alerts","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":160,"y":380,"wires":[["a82e00e0.ca3db"]]},{"id":"112888ff.d100d7","type":"mqtt out","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/sensors-return","qos":"","retain":"","broker":"65126e38.f3208","x":1020,"y":320,"wires":[]},{"id":"71b6323b.12a9ac","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":320,"wires":[["112888ff.d100d7"]]},{"id":"4188d242.eb28cc","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["71b6323b.12a9ac"]]},{"id":"4b5a88f7.7d8678","type":"mqtt out","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/alerts-return","qos":"","retain":"","broker":"65126e38.f3208","x":1010,"y":380,"wires":[]},{"id":"ab9cd542.f17838","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":380,"wires":[["4b5a88f7.7d8678"]]},{"id":"f8c53230.0d7a6","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["ab9cd542.f17838"]]},{"id":"a9ccc5f5.804958","type":"mqtt out","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/alerts-small-return","qos":"","retain":"","broker":"65126e38.f3208","x":1030,"y":440,"wires":[]},{"id":"a1f409e2.59b908","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":440,"wires":[["a9ccc5f5.804958"]]},{"id":"50c01cb2.a0e904","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["a1f409e2.59b908"]]},{"id":"19099bd1.62e274","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/SELECT/alerts-small","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":180,"y":440,"wires":[["92395c20.c30af"]]},{"id":"19d992a1.0688ad","type":"mqtt out","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/INIT/sensors-return","qos":"","retain":"","broker":"65126e38.f3208","x":1000,"y":540,"wires":[]},{"id":"f64d7bed.449868","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":540,"wires":[["19d992a1.0688ad"]]},{"id":"bce1dca7.2da25","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":540,"wires":[["f64d7bed.449868"]]},{"id":"bb2885e3.4ce718","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/INIT/sensors","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":160,"y":540,"wires":[["171d865a.fe71da"]]},{"id":"8402c20.0aacf4","type":"mqtt out","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/INIT/alerts-return","qos":"","retain":"","broker":"65126e38.f3208","x":990,"y":600,"wires":[]},{"id":"b9621614.5c6a98","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":600,"wires":[["8402c20.0aacf4"]]},{"id":"60f39da4.430a84","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":600,"wires":[["b9621614.5c6a98"]]},{"id":"fbee9445.02f7a8","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/INIT/alerts","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":150,"y":600,"wires":[["e0d276cc.0d09c8"]]},{"id":"e674f2b.e5afa1","type":"mqtt in","z":"99cc1aca.8f8e28","name":"","topic":"TDB/Database/INSERT-UPDATE-noreturn","qos":"0","datatype":"utf8","broker":"65126e38.f3208","x":200,"y":100,"wires":[["ad53e114.b3c77"]]},{"id":"d4c25a42.c33578","type":"change","z":"99cc1aca.8f8e28","name":"topic = payload","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":100,"wires":[["cf87c02a.75e88"]]},{"id":"cf87c02a.75e88","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":770,"y":100,"wires":[[]]},{"id":"3d33d24d.af578e","type":"comment","z":"99cc1aca.8f8e28","name":"Database query and response","info":"","x":550,"y":60,"wires":[]},{"id":"76d76d31.2c9374","type":"comment","z":"99cc1aca.8f8e28","name":"Manual database management","info":"","x":1770,"y":60,"wires":[]},{"id":"ad53e114.b3c77","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":100,"wires":[["d4c25a42.c33578"]]},{"id":"3cb92b14.cc3044","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":160,"wires":[["f8c05b34.b8c308"]]},{"id":"f22ae6f1.cf0748","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":260,"wires":[["ecf7e39e.29ed6"]]},{"id":"2a3dbfca.31ecf","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":320,"wires":[["4188d242.eb28cc"]]},{"id":"a82e00e0.ca3db","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":380,"wires":[["f8c53230.0d7a6"]]},{"id":"92395c20.c30af","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":440,"wires":[["50c01cb2.a0e904"]]},{"id":"171d865a.fe71da","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":540,"wires":[["bce1dca7.2da25"]]},{"id":"e0d276cc.0d09c8","type":"switch","z":"99cc1aca.8f8e28","name":"SQL?","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(\\b(INSERT|SELECT|UPDATE)\\b)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":600,"wires":[["60f39da4.430a84"]]},{"id":"5f6a2dca.57ef14","type":"sqlitedb","db":"TDB.sqlite","mode":"RWC"},{"id":"65126e38.f3208","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]