Database_flow.json
[{"id":"99cc1aca.8f8e28","type":"tab","label":"Persistency","disabled":false,"info":""},{"id":"aba71ccf.2d875","type":"sqlite","z":"99cc1aca.8f8e28","mydb":"5f6a2dca.57ef14","sqlquery":"msg.topic","sql":"","name":"DATABASE","x":830,"y":380,"wires":[["e5a79f57.f78e1"]]},{"id":"65b469b4.6416a8","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE measures","x":330,"y":180,"wires":[["aba71ccf.2d875"]]},{"id":"84cbb696.2c7e38","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM measures","x":1060,"y":180,"wires":[["aba71ccf.2d875"]]},{"id":"1162d6d3.8c71c9","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM sensors","x":1060,"y":220,"wires":[["aba71ccf.2d875"]]},{"id":"939034fc.96b568","type":"inject","z":"99cc1aca.8f8e28","name":"SHOW alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM alerts","x":1050,"y":260,"wires":[["aba71ccf.2d875"]]},{"id":"57c231ab.09638","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE measures","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE measures(timestamp TEXT NOT NULL,sensor_id INTEGER NOT NULL,long_rot REAL,tran_rot REAL,wind REAL,temp_air REAL,relh_air REAL,rain REAL, PRIMARY KEY (timestamp, sensor_id), FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id) ON DELETE CASCADE ON UPDATE NO ACTION) WITHOUT ROWID","x":710,"y":180,"wires":[["aba71ccf.2d875"]]},{"id":"3fa0cbf8.a5b864","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE sensors( sensor_id INTEGER NOT NULL PRIMARY KEY,last_malfunction TEXT) WITHOUT ROWID","payloadType":"str","x":700,"y":220,"wires":[["aba71ccf.2d875"]]},{"id":"a5f1f19b.808e","type":"inject","z":"99cc1aca.8f8e28","name":"CREATE alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE alerts( alert_id INTEGER NOT NULL PRIMARY KEY, sensor_id INTEGER, message TEXT NOT NULL, conditions TEXT NOT NULL, submitter TEXT NOT NULL, FOREIGN KEY (sensor_id) REFERENCES sensors (sensor_id) ON DELETE CASCADE ON UPDATE NO ACTION) WITHOUT ROWID","x":700,"y":260,"wires":[["aba71ccf.2d875"]]},{"id":"275cc17a.f40f5e","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE sensors","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE sensors","x":340,"y":220,"wires":[["aba71ccf.2d875"]]},{"id":"77e34feb.24995","type":"inject","z":"99cc1aca.8f8e28","name":"DELETE alerts","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE alerts","x":340,"y":260,"wires":[["aba71ccf.2d875"]]},{"id":"e5a79f57.f78e1","type":"debug","z":"99cc1aca.8f8e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":380,"wires":[]},{"id":"5f6a2dca.57ef14","type":"sqlitedb","db":"E:\\GitHubDesktop\\Repos\\IoT-Twin-Digital-Bridge\\TDB.sqlite","mode":"RWC"}]