Simulation_flow.json
[{"id":"3990c6a1.c2f82a","type":"tab","label":"Sensor Simulation","disabled":false,"info":""},{"id":"226c8060.a156","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Readings","qos":"0","datatype":"json","broker":"65126e38.f3208","x":120,"y":900,"wires":[["39a4c66f.94c2fa"]]},{"id":"4a09982a.ff8b78","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Longitudinal rotation","tooltip":"","group":"ad187510.0dc298","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-90","max":"90","step":"0.5","x":1620,"y":220,"wires":[["b32290f6.e4c32"]]},{"id":"e4781aa8.d307f8","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Transversal rotation","tooltip":"","group":"ad187510.0dc298","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-90","max":"90","step":"0.5","x":1610,"y":260,"wires":[["14d9d375.5199ed"]]},{"id":"1bb60c4f.2655f4","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Wind speed","tooltip":"","group":"ad187510.0dc298","order":6,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"120","step":"0.5","x":1590,"y":300,"wires":[["ddd68458.13d008"]]},{"id":"5ad82f4a.d1b46","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Temperature","tooltip":"","group":"ad187510.0dc298","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-30","max":"70","step":"0.5","x":1590,"y":340,"wires":[["ac4ca200.c7855"]]},{"id":"f934af70.bc24f","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Relative humidity","tooltip":"","group":"ad187510.0dc298","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"0.5","x":1610,"y":380,"wires":[["e2019d27.55058"]]},{"id":"b60f522c.10f86","type":"ui_slider","z":"3990c6a1.c2f82a","name":"","label":"Rain amount","tooltip":"","group":"ad187510.0dc298","order":9,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"0.5","x":1590,"y":420,"wires":[["1f388ea3.cbf4a1"]]},{"id":"b32290f6.e4c32","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.long_rot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":220,"wires":[[]]},{"id":"14d9d375.5199ed","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.tran_rot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":260,"wires":[[]]},{"id":"ddd68458.13d008","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.wind","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":300,"wires":[[]]},{"id":"ac4ca200.c7855","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.temp_air","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":340,"wires":[[]]},{"id":"e2019d27.55058","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.relh_air","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":380,"wires":[[]]},{"id":"1f388ea3.cbf4a1","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.rain","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":421,"wires":[[]]},{"id":"3a4bf596.ebdaba","type":"change","z":"3990c6a1.c2f82a","name":"Values Sent!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Values Sent!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["4c2fc03.e36aa4"]]},{"id":"4e642217.b5e44c","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Readings","qos":"","retain":"","broker":"65126e38.f3208","x":340,"y":100,"wires":[]},{"id":"cc68d68e.03db58","type":"ui_button","z":"3990c6a1.c2f82a","name":"","group":"ad187510.0dc298","order":10,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"#00FF00","bgcolor":"#008080","icon":"cloud_upload","payload":"template","payloadType":"flow","topic":"topic","topicType":"msg","x":90,"y":140,"wires":[["4e642217.b5e44c","3a4bf596.ebdaba"]]},{"id":"19ec350.cf647cb","type":"comment","z":"3990c6a1.c2f82a","name":"Simulate sensor values","info":"","x":1800,"y":60,"wires":[]},{"id":"53a8597.028bda8","type":"ui_date_picker","z":"3990c6a1.c2f82a","name":"","label":"","group":"ad187510.0dc298","order":3,"width":4,"height":1,"passthru":false,"topic":"topic","topicType":"msg","x":1590,"y":180,"wires":[["d5e58f90.7a14e"]]},{"id":"6357a452.641b0c","type":"ui_text_input","z":"3990c6a1.c2f82a","name":"","label":"Sensor_id:","tooltip":"","group":"ad187510.0dc298","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1","topic":"topic","topicType":"msg","x":1590,"y":100,"wires":[["c334e33a.bd3f3"]]},{"id":"9a2ac4c1.1c2008","type":"ui_text_input","z":"3990c6a1.c2f82a","name":"","label":"","tooltip":"","group":"ad187510.0dc298","order":2,"width":3,"height":1,"passthru":false,"mode":"time","delay":"100","topic":"topic","topicType":"msg","x":1580,"y":140,"wires":[["9e0d394.80eebc8"]]},{"id":"18eef8ca.844af7","type":"function","z":"3990c6a1.c2f82a","name":"set flow.template.timestamp","func":"time = flow.get(\"template.timestamp\").substring(11)\n\ntemp = msg.payload + \"-\" + time\n\nflow.set(\"template.timestamp\", temp)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":180,"wires":[[]]},{"id":"222cb335.c3f08c","type":"function","z":"3990c6a1.c2f82a","name":"set flow.template.timestamp","func":"date = flow.get(\"template.timestamp\").substring(0,10)\n\ntemp = date + \"-\" + msg.payload\n\nflow.set(\"template.timestamp\", temp)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":140,"wires":[[]]},{"id":"d5e58f90.7a14e","type":"moment","z":"3990c6a1.c2f82a","name":"Y-MM-DD","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"Y-MM-DD","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Europe/Rome","x":1780,"y":180,"wires":[["18eef8ca.844af7"]]},{"id":"6ee42417.39153c","type":"ui_button","z":"3990c6a1.c2f82a","name":"Reset","group":"dba9ceab.22211","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"#008080","icon":"refresh","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":90,"y":260,"wires":[["8aa9c682.4bbf58","a73e86e0.427758"]]},{"id":"f78b09bf.601ea8","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template","pt":"flow","to":"{\"sensor_id\":1,\"tran_rot\":0,\"long_rot\":0,\"wind\":0,\"temp_air\":0,\"relh_air\":0,\"rain\":0}","tot":"json"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"template.timestamp","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":300,"wires":[["4a09982a.ff8b78","e4781aa8.d307f8","1bb60c4f.2655f4","5ad82f4a.d1b46","f934af70.bc24f","b60f522c.10f86"]]},{"id":"7824130b.357f2c","type":"moment","z":"3990c6a1.c2f82a","name":"Y-MM-DD-HH:mm","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"Y-MM-DD-HH:mm","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Europe/Rome","x":670,"y":300,"wires":[["f78b09bf.601ea8"]]},{"id":"237a20c0.8bb56","type":"inject","z":"3990c6a1.c2f82a","name":"REPEAT","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":880,"y":160,"wires":[["33f29cbf.23aea4"]]},{"id":"33f29cbf.23aea4","type":"function","z":"3990c6a1.c2f82a","name":"Consistent Display","func":"T = flow.get(\"template\")\nif(T){\n    date = T.timestamp.substring(0,10)\n    time = T.timestamp.substring(11)\n    \n    msg0 = {payload : T.sensor_id}\n    msg1 = {payload : time}\n    msg2 = {payload : date}\n    msg3 = {payload : T.long_rot}\n    msg4 = {payload : T.tran_rot}\n    msg5 = {payload : T.wind}\n    msg6 = {payload : T.temp_air}\n    msg7 = {payload : T.relh_air}\n    msg8 = {payload : T.rain}\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8]\n}","outputs":9,"noerr":0,"initialize":"","finalize":"","x":1230,"y":160,"wires":[["6357a452.641b0c"],["9a2ac4c1.1c2008"],["53a8597.028bda8"],["4a09982a.ff8b78"],["e4781aa8.d307f8"],["1bb60c4f.2655f4"],["5ad82f4a.d1b46"],["f934af70.bc24f"],["b60f522c.10f86"]]},{"id":"9e0d394.80eebc8","type":"moment","z":"3990c6a1.c2f82a","name":"HH:mm","topic":"","input":"payload","inputType":"msg","inTz":"Etc/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"it-IT","output":"payload","outputType":"msg","outTz":"Etc/GMT","x":1780,"y":140,"wires":[["222cb335.c3f08c"]]},{"id":"72a707a0.3637e8","type":"comment","z":"3990c6a1.c2f82a","name":"Sensor Simulation Buttons","info":"","x":370,"y":40,"wires":[]},{"id":"8aa9c682.4bbf58","type":"change","z":"3990c6a1.c2f82a","name":"Values Reset!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Values Reset!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["4c2fc03.e36aa4"]]},{"id":"c96ff1e2.c2a14","type":"ui_ui_control","z":"3990c6a1.c2f82a","name":"INIT on tab change","events":"all","x":130,"y":360,"wires":[["a73e86e0.427758"]]},{"id":"a73e86e0.427758","type":"change","z":"3990c6a1.c2f82a","name":"Timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":300,"wires":[["7824130b.357f2c"]]},{"id":"1c2e28f6.d24887","type":"comment","z":"3990c6a1.c2f82a","name":"Alerts checking and triggering","info":"","x":1720,"y":960,"wires":[]},{"id":"42e075f9.fcaf4c","type":"ui_button","z":"3990c6a1.c2f82a","name":"","group":"dba9ceab.22211","order":2,"width":0,"height":0,"passthru":false,"label":"Malfunction","tooltip":"","color":"#FF0000","bgcolor":"#008080","icon":"flash_on","payload":"","payloadType":"date","topic":"payload","topicType":"msg","x":110,"y":520,"wires":[["10a83450.bc4a6c"]]},{"id":"10a83450.bc4a6c","type":"function","z":"3990c6a1.c2f82a","name":"Random failures","func":"msg0 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg1 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg2 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg3 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg4 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\nmsg5 = ((Math.floor(Math.random()*2))>0) ? null : {enabled : false}\n\n\nreturn [msg0,msg1,msg2,msg3,msg4,msg5];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":900,"y":520,"wires":[["44d448a.1abb0b8"],["94b6a684.be3508"],["9cec5a18.92f438"],["ec7993c8.5a5d2"],["24d530a9.5cace"],["8465849a.0e21b8"]]},{"id":"44d448a.1abb0b8","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.long_rot","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":420,"wires":[["4a09982a.ff8b78"]]},{"id":"94b6a684.be3508","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.tran_rot","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":460,"wires":[["e4781aa8.d307f8"]]},{"id":"9cec5a18.92f438","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.wind","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":500,"wires":[["1bb60c4f.2655f4"]]},{"id":"ec7993c8.5a5d2","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.temp_air","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":540,"wires":[["5ad82f4a.d1b46"]]},{"id":"24d530a9.5cace","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.relh_air","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":580,"wires":[["f934af70.bc24f"]]},{"id":"8465849a.0e21b8","type":"change","z":"3990c6a1.c2f82a","name":"","rules":[{"t":"set","p":"template.rain","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":620,"wires":[["b60f522c.10f86"]]},{"id":"b3153ba.3a598c8","type":"function","z":"3990c6a1.c2f82a","name":"Is the Sensor malfunctioning?","func":"triggered = (msg.payload.long_rot == null || \n                 msg.payload.tran_rot == null ||\n                 msg.payload.wind == null || \n                 msg.payload.temp_air == null ||\n                 msg.payload.relh_air == null || \n                 msg.payload.rain == null)\n\nif (triggered){\n    \n    msg.topic = msg.payload.timestamp\n    msg.payload = msg.payload.sensor_id\n    return msg;\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":780,"wires":[["f91bc3f0.e111f","cf9576d8.eeaed8"]]},{"id":"4fdb1001.3a376","type":"function","z":"3990c6a1.c2f82a","name":"Timestamp creation (if missing)","func":"if(!msg.payload.timestamp){\n    \n    const MyDate = new Date()\n\n    timestamp = MyDate.getFullYear() + '-' +\n                ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +\n                ('0' + MyDate.getDate()).slice(-2) + '-' +\n                MyDate.getHours() + ':' +\n                MyDate.getMinutes()\n    \n    msg.payload.timestamp = timestamp\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":900,"wires":[["f972f6cd.b5b678","b3153ba.3a598c8","f5452b62.1819f8","4e7db926.ddafa8"]]},{"id":"f972f6cd.b5b678","type":"function","z":"3990c6a1.c2f82a","name":"INSERT  measures INTO DB","func":"\ncommand = \"INSERT INTO measures( timestamp, sensor_id, long_rot, tran_rot, wind, temp_air, relh_air, rain) VALUES( \"\n\ncommand += \"\\\"\" + msg.payload.timestamp + \"\\\", \"\n        +  msg.payload.sensor_id + \", \"\n        +  msg.payload.long_rot + \", \"\n        +  msg.payload.tran_rot + \", \"\n        +  msg.payload.wind + \", \"\n        +  msg.payload.temp_air + \", \"\n        +  msg.payload.relh_air + \", \"\n        +  msg.payload.rain + \")\"\n        \n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":860,"wires":[["5cac481c.5fb938"]]},{"id":"f91bc3f0.e111f","type":"function","z":"3990c6a1.c2f82a","name":"UPDATE sensors IN DB","func":"\ncommand =  \"UPDATE sensors \"\ncommand += \"SET last_malfunction = \\\"\" + msg.topic + \"\\\" \"\ncommand += \"WHERE sensor_id = \" + msg.payload\n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1590,"y":820,"wires":[["5cac481c.5fb938"]]},{"id":"cf9576d8.eeaed8","type":"template","z":"3990c6a1.c2f82a","name":"Format notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sensor number: {{payload}} is malfunctioning.","output":"str","x":1570,"y":740,"wires":[["a8337ef0.96919"]]},{"id":"f5452b62.1819f8","type":"function","z":"3990c6a1.c2f82a","name":"SELECT alerts FROM DB","func":"\ncommand = \"SELECT alert_id, message, conditions, sensor_id FROM alerts\" \n\nmsg.payload = command\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1020,"wires":[["94f799ac.6d5f88"]]},{"id":"7f36e7b0.8c8798","type":"change","z":"3990c6a1.c2f82a","name":"topic = alerts","rules":[{"t":"set","p":"topic","pt":"msg","to":"alerts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1020,"wires":[["1fcfed3a.32b203"]]},{"id":"4e7db926.ddafa8","type":"change","z":"3990c6a1.c2f82a","name":"topic = measure","rules":[{"t":"set","p":"topic","pt":"msg","to":"measure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":980,"wires":[["1fcfed3a.32b203"]]},{"id":"2bfa81e2.77340e","type":"function","z":"3990c6a1.c2f82a","name":"Is the Alert Triggered?","func":"\nmeasure = msg.payload.measure\noutput = {payload : []}\n\nfor( var alert_idx in msg.payload.alerts){\n    triggered = false\n    A = msg.payload.alerts[alert_idx]\n    \n    if (A.sensor_id == null || A.sensor_id == measure.sensor_id){\n        \n        C = A.conditions.split(',')\n        triggered = true\n        \n        for (var k in C){\n            i = C[k]\n            if(triggered){\n                between = false\n                offset = 2\n                idx = i.indexOf(\"<\")\n                \n                if (idx == -1){\n                    idx = i.indexOf(\">\")\n                    \n                    if(idx == -1){ //found \"==\"\n                        idx = i.indexOf(\"=\")\n                        \n                        \n                    }else{\n                        if(i.indexOf(\"=\") == -1){ //found \">\"\n                            offset--\n                        }\n                        \n                    }\n                }else{\n                    if(i.indexOf(\">\") == -1){\n                        if(i.indexOf(\"=\") == -1){ //found \"<\"\n                            offset--\n                        }\n                    }else{ //found \"<>\"\n                        between = true\n                    }\n                }\n    \n                left = i.substring(0,idx)\n                right = i.substring(idx+offset)\n                \n                if(between){\n                    andx = right.indexOf(\"&\")\n                    \n                    num1 = Number(right.substring(0,andx))\n                    num2 = Number(right.substring(andx+1))\n                    \n                    if(num1 > num2){\n                        temp = num1\n                        num1 = num2\n                        num2 = temp\n                    }\n                    \n                    \n                }else{\n                    num1 = Number(right)\n                }\n                \n                switch(i.substring(idx,idx+offset)){\n                    case \">=\": if(measure[left] < num1){\n                                triggered = false}\n                                break;\n                    case \">\":  if(measure[left] <= num1){\n                                triggered = false}\n                                break;\n                    case \"==\": if(measure[left] != num1){\n                                triggered = false}\n                                break;\n                    case \"<\":  if(measure[left] >= num1){\n                                triggered = false}\n                                break;\n                    case \"<=\": if(measure[left] > num1){\n                                triggered = false}\n                                break;\n                    case \"<>\": if((measure[left] < num1) || (measure[left] > num2)){\n                                triggered = false}\n                                break;\n                }\n            }\n        }\n    \n        \n    }\n    output.payload[alert_idx] = {notification : \"Sensor number: \" + measure.sensor_id + \" has triggered the alert number: \" + A.alert_id + \".<br>\" + A.message + \"<br>\", triggered : triggered}\n}\n\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":1000,"wires":[["574e659d.46ca7c"]]},{"id":"1fcfed3a.32b203","type":"join","z":"3990c6a1.c2f82a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1390,"y":1000,"wires":[["2bfa81e2.77340e"]]},{"id":"574e659d.46ca7c","type":"function","z":"3990c6a1.c2f82a","name":"Format notification","func":"notification = \"\"\n\nfor (var alert_idx in msg.payload){\n    A = msg.payload[alert_idx]\n    \n    if(A.triggered){\n        notification += A.notification\n        \n    }\n    \n}\n\nmsg.payload = notification\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":1000,"wires":[["520b4aba.4b9b44"]]},{"id":"39a4c66f.94c2fa","type":"switch","z":"3990c6a1.c2f82a","name":"is it a measurement?","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"sensor_id","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":900,"wires":[["4fdb1001.3a376"]]},{"id":"c334e33a.bd3f3","type":"function","z":"3990c6a1.c2f82a","name":"set flow.template.sensor_id","func":"sensor_num = global.get(\"sensor_num\")\n\ntemp = msg.payload\n\nif (temp < 0){temp = 0}\nif (temp > sensor_num){temp = sensor_num}\n\nflow.set(\"template.sensor_id\", temp)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":100,"wires":[[]]},{"id":"5cac481c.5fb938","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/INSERT-UPDATE-noreturn","qos":"","retain":"","broker":"65126e38.f3208","x":1910,"y":860,"wires":[]},{"id":"94f799ac.6d5f88","type":"mqtt out","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/alerts-small","qos":"","retain":"","broker":"65126e38.f3208","x":590,"y":1020,"wires":[]},{"id":"5f8441c1.cc3f9","type":"mqtt in","z":"3990c6a1.c2f82a","name":"","topic":"TDB/Database/SELECT/alerts-small-return","qos":"0","datatype":"json","broker":"65126e38.f3208","x":940,"y":1020,"wires":[["7f36e7b0.8c8798"]]},{"id":"60d0205.224e8e","type":"comment","z":"3990c6a1.c2f82a","name":"Receiving a measurement","info":"","x":270,"y":840,"wires":[]},{"id":"4c2fc03.e36aa4","type":"ui_toast","z":"3990c6a1.c2f82a","position":"bottom left","displayTime":"1.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":510,"y":200,"wires":[]},{"id":"a8337ef0.96919","type":"ui_toast","z":"3990c6a1.c2f82a","position":"top right","displayTime":"2.5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":2010,"y":740,"wires":[]},{"id":"520b4aba.4b9b44","type":"ui_toast","z":"3990c6a1.c2f82a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"Notification","x":2010,"y":1000,"wires":[[]]},{"id":"65126e38.f3208","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad187510.0dc298","type":"ui_group","name":"Sensor Readings","tab":"27392637.24c19a","order":2,"disp":true,"width":"7","collapse":false},{"id":"dba9ceab.22211","type":"ui_group","name":"Actions","tab":"27392637.24c19a","order":1,"disp":true,"width":"3","collapse":false},{"id":"27392637.24c19a","type":"ui_tab","name":"Sensor Simulation","icon":"fa-sliders","order":1,"disabled":false,"hidden":false}]